@import '../overallStyles';

/* ACCOUNT STYLES */

.account-background {
  width: 100%;
  height: auto;
  background-color: #f3f4f5;
}

.account-body {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  background: #ffffff;
  border: thin solid #cccccc;
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(125, 125, 125, .5);
}

.account-body button {
  border-style: none;
  background-color: #ffffff;
  color: $account-buttonblue;
  cursor: pointer;
  margin-left: -5px;
}

.account-body .button {
  color: $account-buttonblue;
}

.account-body button:hover {
  text-decoration: underline;
}

.account-body-inner-container {
  width: 95%;
  height: auto;
  margin: 20px;
  margin-top: 25px;
}

.account-header {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}

.account-header h1 {
  font-size: 35px;
  line-height: 35px;
  font-weight: normal;
  color: #333333;
  padding-top: 25px;
}

.account-header h3 {
  font-size: 17px;
  line-height: 25px;
  font-weight: normal;
  color: #8a8a8a;
  padding-bottom: 50px;
}

.account-header-shadow {
  width: 977px;
  height: auto;
  margin-left: -19px;
}

.account-header-shadow img {
  width: 100%;
  height: auto;
}

.account-user-info-container {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: -20px;
  text-align: left;
}

.account-logout-container {
  position: relative;
  z-index: 5;
  margin-top: -25px;
  float: right;
}

.account-logout-container a {
  color: $account-buttonblue;
  font-weight: normal;
}

.account-logout-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}
