.bag-full-line {
  width: 100%;
  height: 1px;
  background-color: #cccccc;
  margin-top: 10px;
}

.bag-container h1 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 24px;
  line-height: 36px;
  font-weight: normal;
  color: #333333;
  text-align: left;
}

.bag-container a {
  color: #0085CF;
}

.bag-container a:hover {
  text-decoration: underline;
}

/* BAG FREE SHIPPING */

.bag-free-shipping {
  width: 980px;
  height: 78px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 10px;
  background: #ffffff;
  border: thin solid #cccccc;
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(125, 125, 125, .5);
}

.bag-free-shipping h6 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #333333;
  text-align: left;
}

.bag-shipping-inner-container {
  width: 95%;
  height: auto;
  margin: 20px;
  margin-top: 25px;
}

.bag-shipping-inner-container embed {
  width: 25px;
  height: 25px;
  margin: auto;
  margin-bottom: -8px;
}

/* BAG ITEMS */

.bag-items-container {
  width: 980px;
  height: auto;
  min-height: 383px;
  margin: auto;
  margin-bottom: 10px;
  background: #ffffff;
  border: thin solid #cccccc;
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(125, 125, 125, .5);
}

.bag-items-inner-container {
  width: 95%;
  height: auto;
  margin: 20px;
}

.bag-items {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.bag-item-container-left {
  width: 20%;
  height: auto;
  margin: auto;
  margin-top: 25px;
  /*float: left;*/
  text-align: center;
}

.bag-item-container-left img {
  width: 110px;
  height: auto;
  margin: auto;
}

.bag-item-container-right {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 25px;
  /*float: right;*/
}

.bag-product-upper {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.bag-product-upper-left {
  width: 40%;
  height: auto;
  margin: auto;
  text-align: left;
}

.bag-product-upper-right {
  width: 60%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  text-align: right;
}

.bag-product-upper-right li {
  margin-left: 50px;
}

.bag-product-upper-right h5 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #333333;
}

.bag-product-upper-right input {
  width: 30px;
  text-align: right;
}

.bag-items-inner-container h2 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #333333;
}

.bag-items-inner-container h4 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #333333;
  padding-top: 10px;
}

.bag-update-button {
  border-style: none;
  background-color: #ffffff;
  color: #0085CF;
  cursor: pointer;
}

.bag-remove-button {
  border-style: none;
  background-color: #ffffff;
  color: #0085CF;
  cursor: pointer;
  float: right;
  padding-top: 10px;
}

.bag-product-details-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}

.bag-product-details {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #666666;
}

.bag-product-details-left {
  width: 55%;
  height: auto;
  margin: auto;
  margin-left: 0px;
  margin-top: 0px;
}

.bag-product-details-right {
  width: 45%;
  height: auto;
  margin: auto;
  margin-top: 0px;
  /*float: right;*/
}

.bag-checkout-left {
  text-align: left;
}

.bag-checkout-right {
  text-align: right;
}

/* BAG RECOMMENDATIONS */

.bag-recommendations-container {
  width: 980px;
  height: auto;
  min-height: 400px;
  margin: auto;
  margin-bottom: 10px;
  background: #ffffff;
  border: thin solid #cccccc;
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(125, 125, 125, .5);
}

.bag-recommendations-inner-container {
  width: 95%;
  height: auto;
  margin: 20px;
}

.bag-recs-top {
  width: 100%;
  height: 138px;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.bag-recs-bottom {
  width: 100%;
  height: 138px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.bag-recs-left {
  width: 50%;
  height: 138px;
  margin: auto;
  margin-left: 10px;
  position: relative;
}

.bag-recs-right {
  width: 50%;
  height: 138px;
  margin: auto;
  position: relative;
}

.bag-recs-img {
  width: 30%;
  height: 138px;
  margin: auto;
  position: absolute;
  left: 0;
}

.bag-recs-img img {
  width: 140px;
  height: 124px;
  margin: auto;
}

.bag-recs-info {
  width: 70%;
  height: 138px;
  margin: auto;
  position: absolute;
  right: 0;
  padding-left: 15px;
}

.bag-recs-info h2 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #333333;
}

.bag-recs-info h6 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;
}

/* BAG QUESTIONS */

.bag-questions-container {
  width: 980px;
  height: auto;
  min-height: 383px;
  margin: auto;
  background: #ffffff;
  border: thin solid #cccccc;
  border-radius: 7px;
  box-shadow: 0px 1px 2px rgba(125, 125, 125, .5);
}

.bag-questions-container h2 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: #222222;
  padding-bottom: 10px;
}

.bag-questions-container p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  color: #666666;
}

.bag-questions-inner-container {
  width: 95%;
  height: auto;
  margin: 20px;
}

.bag-questions-top {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.bag-questions-bottom {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.bag-questions-third {
  width: 30%;
  height: auto;
  margin: auto;
  margin-top: 5px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.bag-note-container {
  width: 980px;
  height: auto;
  margin: auto;
  text-align: left;
}

.bag-note-inner-container {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 11px;
  line-height: 17px;
  color: #888888;
}

.bag-footer-full {
  width: 100%;
  height: auto;
  background-color: #f2f2f2;
  padding-bottom: 50px;
}

.bag-footer-full h6 {
  color: #888888;
}

.bag-footer-full .grid h5 {
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  padding-bottom: 5px;
}

.bag-footer-full .grid a {
  color: #888888;
}

.bag-footer-full .left a {
  color: #888888;
}
