.buy-body {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
}

.buy-macbook-left {
  width: 490px;
  height: auto;
}

.buy-macbook-right {
  width: 490px;
  height: auto;
}

.buy-macbook h1 {
  font-size: 42px;
  line-height: 44px;
  color: #333333;
  padding-bottom: 10px;
}

.buy-macbook h6 {
  font-weight: normal;
  color: #0c7ace;
}

.buy-macbook h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.buy-macbook hr {
  margin-top: 20px;
  margin-bottom: 20px;
}

.buy-finish {
  width: 425px;
  height: 248px;
  margin-top: 40px;
}

.buy-finish h2 {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.buy-finish-buttons {
  width: 425px;
  height: 210px;
}

.finish-buttons {
  width: 202px;
  height: 86px;
  border: 1px solid #333333;
  border-radius: 5px;
  text-align: center;
  font-weight: normal;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.finish-buttons:hover {
  border: 1px solid #000000;
  cursor: pointer;
}

.finish-buttons h3 {
  padding-top: 25px;
}

.finish-swatches {
  width: 31px;
  height: 31px;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.finish-swatches img {
  width: 100%;
  height: auto;
  margin-left: 85px;
  padding-top: 15px;
}

.buy-model {
  width: 425px;
  height: 392px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.buy-model h2 {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.buy-model h6 {
  color: #0c7ace;
  margin-top: 5px;
  margin-bottom: 15px;
}

.buy-model h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.buy-model-buttons {
  width: 425px;
  height: 326px;
}

.buy-model-buttons p {
  font-size: 16px;
  line-height: 18px;
  color: #333333;
  padding: 10px;
}

.model-buttons {
  width: 202px;
  height: 307px;
  border: 1px solid #333333;
  border-radius: 5px;
  margin-bottom: 20px;
}

.model-buttons:hover {
  cursor: pointer;
}

.fixed-bottom-bar {
  width: 100%;
  height: 109px;
  position: fixed;
  bottom: 0;
  background: #fafafa;
  border-top: thin solid #e6e6e6;
}

.fixed-bottom-bar-left {
  float: left;
  font-size: 14px;
  line-height: 18px;
}

.fixed-bottom-bar-right {
  float: right;
  width: 250px;
  height: 80px;
  margin-top: 10px;
}

.fixed-bottom-bar-right h1 {
  font-size: 28px;
  line-height: 28px;
}

.inner-fixed-bottom-bar {
  width: 980px;
  height: 90px;
  margin: auto;
  margin-top: 25px;
  align-content: center;
  align-items: center;
}

.buy-bottom-blank-div {
  width: 100%;
  height: 109px;
}

/* BUY INFO */

.buy-info-container {

}

.gray-section {
  width: 100%;
  height: 514px;
  background: #f2f2f2;
  margin: auto;
}

.buy-info-title {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.buy-info-title h1 {
  font-size: 52px;
  line-height: 57px;
}

.box-contents {
  width: 980px;
  height: auto;
  margin: auto;
}

.buy-info-applecare {
  width: 980px;
  height: auto;
  margin: auto;
}

.buy-info-applecare-icon {
  width: 152px;
  height: 152px;
  margin: auto;
  margin-bottom: 40px;
}

.buy-info-applecare-icon img {
  width: 100%;
  height: auto;
  margin: auto;
}

.buy-info-applecare p {
  font-size: 18px;
  line-height: 26px;
}

.buy-info-applecare a {
  color: #0c7ace;
}

.buy-info-applecare a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.coverage-visual {
  width: 850px;
  height: auto;
  margin: auto;
}

.maintenance-coverage {
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row;
}

.support-coverage {
  margin: auto;
  display: flex;
  flex-flow: row;
  border-bottom: thin solid lightgray;
  padding-bottom: 40px;
  margin-bottom: 30px;
}

.maintenance-img {
  width: 36px;
  height: 36px;
  margin: auto;
  margin-right: 10px;
}

.maintenance-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.support-img {
  width: 36px;
  height: 36px;
  margin: auto;
  margin-right: 10px;
}

.support-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.coverage-visual p {
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: #666666;
  margin: auto;
  padding-top: 10px;
}

.coverage-bar {
  margin-left: 2px;
  margin-right: 2px;
  margin: auto;
}


/* PAGE 2 */

.configure-macbook h1 {
  font-size: 42px;
  line-height: 44px;
  color: #333333;
  padding-bottom: 10px;
}

.configure-macbook h6 {
  font-weight: normal;
  color: #0c7ace;
}

.configure-macbook h6:hover {
  text-decoration: underline;
  cursor: pointer;
}

.configure-macbook hr {
  margin-top: 40px;
  margin-bottom: 20px;
}

.buy-processor {
  width: 425px;
  height: 248px;
  margin-top: 40px;
}

.buy-processor h2 {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.buy-processor a {
  color: #0c7ace;
}

.buy-processor p {
  font-size: 16px;
  line-height: 22px;
  padding: 19px 0px 10px 20px;
}

.inner-processor-buttons {
  width: 315px;
  height: 42px;
}

.buy-processor-buttons {
  width: 488px;
  height: 87px;
}

.processor-buttons {
  width: 488px;
  height: 87px;
  border: 1px solid #333333;
  border-radius: 5px;
  margin-top: 15px;
}

.processor-buttons:hover {
  cursor: pointer;
}

.buy-keyboard {
  width: 488px;
  height: 62px;
  margin-top: 60px;
}

.buy-keyboard h2 {
  font-size: 24px;
  line-height: 32px;
  color: #333333;
}

.buy-keyboard a {
  color: #0c7ace;
}

.buy-keyboard p {
  padding: 22px 30px 10px 20px;
}

.buy-keyboard-selector {
  width: 488px;
  height: 62px;
}

.keyboard-selector {
  width: 488px;
  height: 62px;
  border: 1px solid #000000;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 15px;
  background: #ffffff;
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 16px;
  font-weight: 200;
  line-height: 22px;
  color: #000000;
}

.keyboard-selector option {
  padding-left: 20px;
}

.keyboard-selector:hover {
  cursor: pointer;
}

/* PAGE 3 */

.applecare-title {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 100px;
}

.applecare-title h1 {
  font-size: 52px;
  line-height: 56px;
  font-weight: 200;
  text-align: center;
}

.applecare-macbook {
  margin-bottom: 100px;
}

.applecare-macbook h1 {
  font-size: 32px;
  line-height: 36px;
}

.applecare-macbook p {
  font-size: 18px;
  line-height: 26px;
}

.applecare-macbook p a {
  color: #0c7ace;
}

.applecare-macbook a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.buy-macbook-accessories-title {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.buy-macbook-accessories-title h1 {
  font-size: 52px;
  line-height: 56px;
  font-weight: 200;
  text-align: center;
}

.buy-macbook-accessories {
  width: 980px;
  height: auto;
  margin: auto;
}

.accessory-container {
  width: 408px;
  height: 818px;
  padding-bottom: 41px;
  margin-bottom: 100px;
  margin-left: 21px;
  margin-right: 21px;
  border-bottom: thin solid lightgray;
}

.accessory-img-container {
  width: 408px;
  height: 408px;
  background: lightblue;
}

.accessory-title-container {
  width: 408px;
  height: 100px;
  background: pink;
}

.accessory-description-container {
  width: 408px;
  height: 150px;
  background: turquoise;
}

.accessory-options-container {
  width: 408px;
  height: 155px;
  background: palegreen;
}

.fixed-bottom-bar-right-add {
  float: right;
  width: 290px;
  height: 80px;
  margin-top: 10px;
}

.fixed-bottom-bar-right-add h1 {
  font-size: 28px;
  line-height: 28px;
}

.buy-see-terms {
  width: 980px;
  height: auto;
  margin: auto;
}

.buy-see-terms p {
  font-size: 10px;
  line-height: 18px;
  color: #999999;
}

.buy-see-terms a {
  color: #0c7ace;
  text-decoration: underline;
}

.buy-see-terms a:hover {
  cursor: pointer;
}
