@import '../overallStyles';

/* CREATE ACCOUNT STYLES */

.create-acc-body {

}

.create-acc-title-img {
  width: 100%;
  height: 175px;
  margin: auto;
  background-image: url("../img/createAcc/apple_id_recovery_2880x340.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  text-align: center;
  font-weight: 300;
}

.create-acc-title {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 41px;
  line-height: 175px;
  color: #ffffff;
}

.form-container {
  width: 461px;
  height: auto;
  margin: auto;
  margin-top: 40px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
}

.form-container h4 {
  padding-bottom: 10px;
  font-weight: normal;
  color: #666666;
}

.create-acc-input-long {
  width: 460px;
  height: 34px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
  color: #333333;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding-left: 10px;
}

.create-acc-input-short {
  width: 228px;
  height: 34px;
  margin: auto;
  font-size: 16px;
  font-weight: 200;
  line-height: 24px;
  color: #333333;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding-left: 10px;
}

.form-container input[type="date"] {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #aaaaaa;
  margin: auto;
  margin-top: 10px;
}

.form-container input[type="date"]::before {
	color: #aaaaaa;
	content: attr(placeholder);
}
.form-container input[type="date"] {
	color: #ffffff;
}
.form-container input[type="date"]:focus,
.form-container input[type="date"]:valid {
	color: #333333;
}
.form-container input[type="date"]:focus::before,
.form-container input[type="date"]:valid::before {
	content: "" !important;
}

.create-acc-select-long {
  width: 460px;
  height: 34px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
  color: #333333;
  border-radius: 5px;
  border: 1px solid #cccccc;
  background: #ffffff;
}

.create-acc-checkboxes {
  text-align: left;
}

.create-acc-checkboxes p {
  padding-left: 18px;
  font-size: 12px;
  font-weight: 200;
  color: #cccccc;
}

.create-acc-body a {
  color: #0070c9;
}

.create-acc-body a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.create-acc-body button {
  width: 85px;
  height: auto;
  margin: auto;
  border-style: none;
  font-size: 18px;
  line-height: 26px;
  color: #0070c9;
  background: #ffffff;
  padding: 0;
}

.create-acc-body button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.create-acc-footer-full {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 25px;
  background: #f2f2f2;
}

.faq-inner-container {
  width: 980px;
  height: auto;
  margin: auto;
  text-align: left;
}

.faq-inner-container h1 {
  font-size: 32px;
  line-height: 27px;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  color: #222222;
  padding-top: 30px;
  margin-bottom: 15px;
}

.faq-inner-container h5 {
  font-size: 18px;
  line-height: 27px;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: normal;
  color: #333333;
}

.faq-inner-container p {
  font-size: 18px;
  line-height: 27px;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: normal;
  color: #666666;
}

.faq-inner-container a {
  color: #0070c9;
}

.faq-inner-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* PRIVACY STATE */

.privacy-inner-container {
  width: 980px;
  height: auto;
  margin: auto;
  text-align: center;
}

.privacy-inner-container h1 {
  font-size: 64px;
  line-height: 68px;
  color: #333333;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
}

.privacy-letter-container p {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  text-align: left;
}

.privacy-letter-container {
  width: 686px;
  height: auto;
  margin: auto;
  text-align: left;
}

.privacy-how {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
}

.privacy-how h1 {
  font-size: 52px;
  line-height: 56px;
  color: #333333;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 60px;
}

.privacy-how-info {
  width: 980px;
  height: auto;
  margin: auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.privacy-how-containers {
  width: 326.656px;
  height: auto;
  margin: auto;
}

.privacy-how-img {
  width: 154px;
  height: 120px;
  margin: auto;
}

.privacy-how-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.privacy-how-info h3 {
  font-size: 24px;
  line-height: 24px;
  color: #333333;
}

.privacy-how-info h5 {
  font-size: 18px;
  line-height: 26px;
  color: #333333;
}

.privacy-how-info a {
  color: #0070c9;
}

.privacy-how-info a:hover {
  text-decoration: underline;
  cursor: pointer;
}
