.design p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.design .navbar-container {
  background-color: rgba(38, 38, 38, .90);
}

.design-pure-invention-container {
  width: 100%;
  height: 1009px;
  margin: auto;
  background-image: url("../img/design/design-large-files/design_hero_large.jpg");
  background-position: 50% -300px;
  background-repeat: no-repeat;
  background-size: auto 1109px;
  overflow: hidden;
  text-align: center;
}

.design-pure-invention-container .full-state-navbar {
  background: rgba(255, 255, 255, .75);
  border-bottom: thin solid #eaeaea;
}

.design-pure-invention-text {
  width: 980px;
  height: auto;
  margin: auto;
}

.design-pure-invention-text h1 {
  font-size: 64px;
  line-height: 68px;
  padding-top: 525px;
}

.design-pure-invention-text p {
  font-size: 27px;
  line-height: 41px;
  font-weight: 200;
  margin-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

/* DESIGN CLOSED MAC */

.design-closed-container {
  width: 100%;
  height: 900px;
  margin: auto;
  background-color: #fafafa;
}

.design-closed-img {
  width: 1030px;
  height: auto;
  margin: auto;
  padding-top: 427px;
}

.design-closed-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

/* DESIGN KEYBOARD */

.design .information-center p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: justify;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.design-floatingmac-img {
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 50px;
}

.design-floatingmac-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

/* DESIGN KEY DESIGN */



/* DESIGN BACKLIGHTING */



/* DESIGN PIXELS */
