.design sup {
  vertical-align: super;
  font-size: 44px;
  line-height: 34px;
}

.design p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.design .navbar-container {
  background-color: rgba(38, 38, 38, .90);
}

.design-pure-invention-container {
  width: 100%;
  height: 1009px;
  margin: auto;
  background-image: url("../img/design/design-large-files/design_hero_large.jpg");
  background-position: 50% -300px;
  background-repeat: no-repeat;
  background-size: auto 1109px;
  overflow: hidden;
  text-align: center;
}

.design-pure-invention-container .full-state-navbar {
  background: rgba(255, 255, 255, .75);
  border-bottom: thin solid #eaeaea;
}

.design-pure-invention-text {
  width: 980px;
  height: auto;
  margin: auto;
}

.design-pure-invention-text h1 {
  font-size: 64px;
  line-height: 68px;
  padding-top: 525px;
}

.design-pure-invention-text p {
  font-size: 27px;
  line-height: 41px;
  font-weight: 200;
  margin-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

/* DESIGN CLOSED MAC */

.design-closed-container {
  width: 100%;
  height: 900px;
  margin: auto;
  background-color: #fafafa;
}

.design-closed-img {
  width: 1030px;
  height: auto;
  margin: auto;
  padding-top: 427px;
}

.design-closed-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

/* DESIGN KEYBOARD */

.design-keyboard {
  width: 100vw;
  height: auto;
  margin: auto;
  margin-bottom: 150px;
}

.design .information-center h2 {
  font-size: 54px;
  line-height: 56px;
  font-weight: 200;
  text-align: center;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.design .information-center h3 {
  font-size: 34px;
  line-height: 48px;
  font-weight: 200;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

.design .information-center p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

.design-floatingmac-img {
  width: 80%;
  height: auto;
  margin: auto;
  padding-top: 50px;
}

.design-floatingmac-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.design-key-types-container {
  width: 780px;
  height: 145px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.design-key-types {
  width: 390px;
  height: 145px;
  margin: auto;
  text-align: center;
}

.design-key-scissor {
  width: 100%;
  height: auto;
  margin: auto;
  background-image: url('../img/design/design-large-files/design_keyboard_scissor_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.design-key-butterfly {
  width: 100%;
  height: auto;
  margin: auto;
  background-image: url('../img/design/design-large-files/design_keyboard_butterfly_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.design h6 {
  font-size: 14px;
  line-height: 15px;
  font-weight: normal;
  letter-spacing: 3px;
  color: #666666;
}

/* DESIGN KEY DESIGN */

.design-keydesign-container {
  width: 100vw;
  height: 494px;
  margin: auto;
  background-color: #FAFAFA;
}

.design-keydesign {
  width: 980px;
  height: 145px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 100px;
}

.design-keydesign-left {
  width: 60%;
  height: 145px;
  margin: auto;
  text-align: left;
}

.design-keydesign-right {
  width: 40%;
  height: 145px;
  margin: auto;
  padding-top: 65px;
  display: flex;
  flex-direction: row;
}

/* DESIGN BACKLIGHTING LIGHT */
.design-backlighting-container-full {
  width: 100vw;
  height: auto;
  margin: auto;
  position: relative;
  z-index: -1;
}

.design-backlighting-light-container {
  width: 100vw;
  height: auto;
  margin: auto;
  background-color: #FFFFFF;
  position: absolute;
}

.design-backlighting-img {
  width: 1226px;
  height: auto;
  margin: auto;
}

.design-backlighting-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

/* DESIGN BACKLIGHTING DARK */

.design-backlighting-dark-container {
  width: 100vw;
  height: auto;
  margin: auto;
  background-color: #000000;
  position: absolute;
}

/* DESIGN PIXELS */

.design-pixels-container {
  width: 100vw;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
  padding-top: 835px;
}

.design .information-left p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
  padding-right: 300px;
}

.design-pixels-inner-container {
  width: 980px;
  height: auto;
  margin: auto;
  position: relative;
  z-index: -4;
}

.design-pixels-header-container {
  width: 100%;
  height: auto;
  margin: auto;
}

.design-pixels-parallax-img {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  right: 0;
  z-index: -1;
  /*padding-top: ;*/
}

.design-pixels-parallax-img img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-right: 0px;
}

.design-pixels-measurements-full {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.design-pixels-measurements {
  width: 400px;
  height: auto;
  margin: auto;
  margin-left: 0px;
}

.design-pixels-led-container {
  width: 100vw;
  height: 1034px;
  margin: auto;
  background-image: url('../img/design/design-large-files/pixel_macbook_large.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.design-pixels-led {
  width: 980px;
  height: auto;
  margin: auto;
  padding-left: 650px;
  padding-top: 300px;
}

.design .design-pixels-led p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
}

.design-pixels-aperture-container {
  width: 157px;
  height: 157px;
  margin: auto;
  margin-left: 0px;
  margin-top: 20px;
  background-image: url('../img/design/design-large-files/pixel_colors_large.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  /*position: relative;
  z-index: -5;*/
}

#design-pixels-led-layer1 {
  width: 100%;
  height: auto;
  margin: auto;
  transform: translateY(-157px);
}

#design-pixels-led-layer2 {
  width: 85%;
  height: auto;
  margin: auto;
  transform: translateY(-310px);
}

.design-white-rectangles-container {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

#hiding-white-rectangles-left {
  width: 28%;
  height: 160px;
  background-color: #ffffff;
  margin-left: 12px;
  margin-top: 160px;
  visibility: hidden;
}

#hiding-white-rectangles-mid {
  width: 25%;
  height: 160px;
  background-color: #ffffff;
  margin-left: 4px;
  margin-top: 160px;
  visibility: hidden;
}

#hiding-white-rectangles-right {
  width: 29%;
  height: 160px;
  background-color: #ffffff;
  margin-left: 2px;
  margin-top: 160px;
  visibility: hidden;
}

@keyframes rectangleMoveDown {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 0px;
    margin-top: 0px;
  }

  to {
    -webkit-margin-top: 160px;
    margin-top: 160px;
  }
}

.rectangleMoveDown {
  -webkit-animation-name: rectangleMoveDown;
  animation-name: rectangleMoveDown;
}

@keyframes barMoveUp {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-transform: translateY(-280px);
    transform: translateY(-280px);
  }

  to {
    -webkit-transform: translateY(-310px);
    transform: translateY(-310px);
  }
}

.barMoveUp {
  -webkit-animation-name: barMoveUp;
  animation-name: barMoveUp;
}

/* DESIGN FORCE TOUCH */
