/* homeTmpl.html */

.home-body-content {
  width: 100vw;
  height: auto;
  text-align: center;
}

.home-intro-container {
  width: 100vw;
  height: 1090px;
  position: relative;
  background: #ffffff;
  z-index: -1;
}

.top-headline-full {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 80px;
}

.top-headline-full h1 {
  text-align: center;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 64px;
  line-height: 68px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
}

.top-headline-full h2 {
  text-align: center;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 42px;
  line-height: 48px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-bottom: 50px;
}

.home-body-content p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 18px;
  line-height: 26px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
}

.home-photo1 {
  width: 917px;
  height: 313px;
  margin: auto;
  margin-bottom: 50px;
  background-image: url("../img/home/hero_static_medium_2x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-photo1 img {
  width: 100%;
  height: auto;
  margin: auto;
}

.macbook-intro {
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.macbook-intro p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 27px;
  line-height: 41px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-top: 30px;
}

.watch-film-container {
  width: 100%;
  height: auto;
  margin: auto;
  top: 675px;
  overflow: hidden;
  position: absolute;
}

.watch-film {
  width: 230px;
  height: 40px;
  color: #d0bca4;
  fill: #d0bca4;
  font-size: 24px;
  line-height: 33px;
  margin: auto;
}

.watch-film a {
  color: #d0bca4;
}

.watch-film svg {
  width: 20px;
  height: auto;
  fill: #d0bca4;
  /*top: 16%;*/
  transform: translateY(16%);
}

.watch-film:hover {
  color: #000000;
  cursor: pointer;
  fill: #000000;
}

.watch-film a:hover {
  color: #000000;
  cursor: pointer;
  fill: #000000;
}

.watch-film svg:hover {
  cursor: pointer;
  fill: #000000;
}

.measurements-full {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
  position: relative;
  z-index: -1;
}

.measurements {
  width: 980px;
  height: 160px;
  /*padding-top: 50px;
  padding-bottom: 150px;*/
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

/*.measurements-container {
  width: 160px;
  height: 160px;
  margin: auto;
}*/

#measurements1 {
  width: 155px;
  height: 160px;
  margin: auto;
}

#measurements1 h4 {
  margin-top: -9px;
  padding-left: 13px;
  letter-spacing: 3px;
}

#measurements2 {
  width: 100px;
  height: 160px;
  margin: auto;
}

#measurements2 h4 {
  margin-top: -9px;
  padding-left: 3px;
  letter-spacing: 3px;
}

#measurements3 {
  width: 160px;
  height: 160px;
  margin: auto;
}

#measurements3 h4 {
  margin-top: -9px;
  padding-left: 13px;
  letter-spacing: 3px;
}

#measurements4 {
  width: 150px;
  height: 160px;
  margin: auto;
}

#measurements4 h4 {
  margin-top: -9px;
  padding-left: 13px;
  letter-spacing: 3px;
}

#home_photo2 {
  width: 100vw;
  height: 1250px;
  margin: auto;
  margin-top: -300px;
  position: relative;
  z-index: -2;
}

/*.home-photo2 img {
  width: 100%;
  height: auto;
  margin: auto;
}*/

/* BACKGROUND IMAGE */
/*.home-photo2 {
  width: 100vw;
  height: 800px;
  overflow: hidden;
  margin: auto;
  background-image: url('../img/home/overview_colors_medium_2x.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}*/

.retina-display-measurements-full {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  padding-right: 200px;
}

.retina-display-measurements-partial {
  width: 800px;
  height: 160px;
  margin-left: -30px;
}

.retina-display-measurements {
  width: 800px;
  height: 160px;
  display: inline-flex;
  flex-flow: row;
  align-items: left;
  text-align: left;
  margin-left: 0px;
}

#measurements5 {
  width: 160px;
  height: 160px;
  margin: auto;
  text-align: left;
}

#measurements5 h4 {
  margin-top: -9px;
  padding-left: 13px;
  letter-spacing: 3px;
}

#measurements6 {
  width: 350px;
  height: 160px;
  margin: auto;
  text-align: left;
}

#measurements6 h4 {
  margin-top: -9px;
  padding-left: 13px;
  letter-spacing: 3px;
}

#measurements7 {
  width: 150px;
  height: 160px;
  margin: auto;
  text-align: left;
}

#measurements7 h4 {
  margin-top: -9px;
  padding-left: 13px;
  letter-spacing: 3px;
}

.measurements-container span {
  font-size: 42px;
  line-height: 32px;
  padding-top: 10px;
}

.measurements-container div {
  width: 100%;
  height: auto;
}

.measurements-container h3 {
  font-size: 80px;
  line-height: 64px;
  color: #bdb099;
}

.measurements-container h4 {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  font-weight: normal;
}

.gray-background {
  width: 100%;
  height: auto;
  background: #fafafa;
  margin-top: -5px;
  padding-bottom: 5px;
  position: relative;
  z-index: -1;
}

#available-in {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  padding-top: 15px;
  padding-bottom: 200px;
}

.home-photo3 {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.home-photo3 img {
  width: 100vw;
  height: auto;
  margin: auto;
}

.small-line {
  width: 48px;
  height: 1px;
  background-color: #ccc;
  margin: auto;
}

.home-photo4 {
  width: 80%;
  height: auto;
  margin: auto;
}

.home-photo4 img {
  width: 100%;
  height: auto;
  margin: auto;
}

.information-left {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 70px;
  text-align: left;
}

.information-left h2 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 52px;
  line-height: 56px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-top: 50px;
  padding-right: 35%;
}

.information-left p {
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.information-left a {
  color: #0c7ace;
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.information-left a:hover {
  text-decoration: underline;
}

.information-center {
  width: 980px;
  height: auto;
  margin: auto;
  text-align: center;
}

.information-center h2 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 52px;
  line-height: 56px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-top: 50px;
}

.information-center p {
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
}

.information-center a {
  color: #0c7ace;
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}

.information-center a:hover {
  text-decoration: underline;
}

.long-line {
  width: 1024px;
  height: 2px;
  margin: auto;
  background: white;
  border-bottom: 1px solid #d6d6d6;
}

.home-photo5 {
  width: 80%;
  height: auto;
  margin: auto;
}

.home-photo5 img {
  width: 977px;
  height: auto;
  margin: auto;
}

.home-photo5-shadow {
  width: 1193px;
  height: auto;
  margin: auto;
}

.home-photo5-shadow img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: -150px;
  transform: translateX(-38%);
}

.wireless-icons-container {
  width: 980px;
  height: auto;
  margin: auto;
}

.wireless-icons {
  width: 692px;
  height: auto;
  margin: auto;
  margin-top: 60px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
}

.wireless-icons img {
  width: 46px;
  height: auto;
  margin: auto;
  margin-left: 17px;
  margin-right: 17px;
}

#wireless1 {
  width: 66px;
  height: auto;
}

#wireless2 {
  width: 47px;
  height: auto;
}

#wireless3 {
  width: 40px;
  height: auto;
}

#wireless4 {
  width: 46px;
  height: auto;
}

#wireless5 {
  width: 46px;
  height: auto;
}

#wireless6 {
  width: 46px;
  height: auto;
}

#wireless7 {
  width: 50px;
  height: auto;
}

#wireless8 {
  width: 46px;
  height: auto;
}

.home-photo6 {
  width: 100%;
  height: 882px;
  margin: auto;
  overflow: hidden;
  background-image: url("../img/home/design_port_large_2x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 2204px auto;
}

/*.home-photo6 img {
  width: 2204px;
  height: auto;
  margin: auto;
}*/

.home-photo6-vert-line {
  width: 1px;
  height: 30px;
  margin: auto;
  background: #bdb099;
}

.home-photo6-horizontal-line {
  width: 764px;
  height: 21px;
  margin: auto;
  border-top: thin solid #bdb099;
  border-left: thin solid #bdb099;
  border-right: thin solid #bdb099;
}

.usbc-icons {
  width: 100%;
  height: auto;
  margin: auto;
}

.usbc-icons img {
  width: auto;
  height: 80px;
  margin: auto;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.usbc-icons span {
  /*padding-left: 65px;
  padding-right: 65px;*/
  margin: auto 65px auto 65px;
}

.home-photo7 {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-photo7 img {
  width: 40%;
  height: auto;
  margin: auto;
}

.home-internals {
  width: 1018px;
  height: 711px;
  margin: auto;
  background-image: url("../img/home/internals_layer_start_medium_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  text-align: center;
  margin: auto;
  align-content: center;
  /*overflow: hidden;*/
}

.home-internals img {
  width: 100%;
  height: auto;
  margin: auto;
  /*opacity: 0;*/
}

.home-battery {
  width: 100%;
  height: auto;
  margin: auto;
  background: #ffffff;
  overflow: hidden;
}

#measurements8 {
  width: 160px;
  height: 160px;
  margin: auto;
  margin-right: 100px;
  margin-top: -150px;
  float: right;
  text-align: left;
}

#measurements8 h4 {
  margin-top: -9px;
  padding-left: 13px;
  letter-spacing: 3px;
}

.home-battery-stack {
  width: 911px;
  height: 378px;
  margin: auto;
  margin-top: 123px;
  float: left;
  background-image: url("../img/home/overview_battery_base_medium_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 911px 378px;
}

#battery1 {
  width: 415px;
  height: auto;
  position: absolute;
  /*margin-top: 13px;*/
  margin-top: -70px;
  /*left: 41%;*/
  transform: translateX(86%);
  z-index: 4;
}

#battery2 {
  width: 520px;
  height: auto;
  position: absolute;
  /*margin-top: 17px;*/
  margin-top: -25px;
  /*left: 35%;*/
  transform: translateX(53%);
  z-index: 1;
}

#battery3 {
  width: 400px;
  height: auto;
  position: absolute;
  /*margin-top: 136px;*/
  margin-top: 50px;
  /*left: 23%;*/
  transform: translateX(26%);
  z-index: 3;
}

#battery4 {
  width: 460px;
  height: auto;
  position: absolute;
  /*margin-top: 139px;*/
  margin-top: 100px;
  /*left: 20.5%;*/
  transform: translateX(15%);
  z-index: 2;
}

@-webkit-keyframes batteryMoveUp1 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 13px;
    margin-top: 13px;
  }

  to {
    -webkit-margin-top: -70px;
    margin-top: -70px;
  }
}

@keyframes batteryMoveUp1 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 13px;
    margin-top: 13px;
  }

  to {
    -webkit-margin-top: -70px;
    margin-top: -70px;
  }
}

.batteryMoveUp1 {
  -webkit-animation-name: batteryMoveUp1;
  animation-name: batteryMoveUp1;
}

@-webkit-keyframes batteryMoveUp2 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 17px;
    margin-top: 17px;
  }

  to {
    -webkit-margin-top: -25px;
    margin-top: -25px;
  }
}

@keyframes batteryMoveUp2 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 17px;
    margin-top: 17px;
  }

  to {
    -webkit-margin-top: -25px;
    margin-top: -25px;
  }
}

.batteryMoveUp2 {
  -webkit-animation-name: batteryMoveUp2;
  animation-name: batteryMoveUp2;
}

@-webkit-keyframes batteryMoveUp3 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 136px;
    margin-top: 136px;
  }

  to {
    -webkit-margin-top: 50px;
    margin-top: 50px;
  }
}

@keyframes batteryMoveUp3 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 136px;
    margin-top: 136px;
  }

  to {
    -webkit-margin-top: 50px;
    margin-top: 50px;
  }
}

.batteryMoveUp3 {
  -webkit-animation-name: batteryMoveUp3;
  animation-name: batteryMoveUp3;
}

@-webkit-keyframes batteryMoveUp4 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 139px;
    margin-top: 139px;
  }

  to {
    -webkit-margin-top: 100px;
    margin-top: 100px;
  }
}

@keyframes batteryMoveUp4 {
  from, to {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  from {
    -webkit-margin-top: 139px;
    margin-top: 139px;
  }

  to {
    -webkit-margin-top: 100px;
    margin-top: 100px;
  }
}

.batteryMoveUp4 {
  -webkit-animation-name: batteryMoveUp4;
  animation-name: batteryMoveUp4;
}

.home-macos {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.home-macos .information-left {
  position: absolute;
  z-index: -1;
}

#home_macos_image {
  width: 113%;
  height: auto;
  margin: auto;
  margin-left: -125px;
  float: left;
  top: 0;
  position: relative;
  z-index: -2;
}

/*.home-macos-image {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-macos-image img {
  width: 113%;
  height: auto;
  margin: auto;
  margin-left: -125px;
  z-index: 1;
  float: left;
}*/

.spacing-adjustment {
  width: 100%;
  height: 1300px;
}

.home-builtinapps {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-builtinapps .information-center {
  padding-bottom: 100px;
}

.home-builtinapps-image {
  width: 95%;
  height: auto;
  margin: auto;
  padding-bottom: 175px;
  overflow: hidden;
}

.home-builtinapps-image img {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-pure-invention {
  width: auto;
  height: 838px;
  background-image: url("../img/home/overview_design_medium_2x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 838px;
}

.home-pure-invention .information-center {
  padding-top: 275px;
}

/* DESIGN VIDEO */

.design-video-container {
  width: 100%;
  height: auto;
  margin: auto;
}

.video-close-button {
  z-index: 2;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 20px;
  left: 20px;
}

.video-close-button svg {
  width: 100%;
  height: auto;
}

.design-video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;
}
