/* NAVBAR-Overall */

.navbar-container {
  width: 100%;
  height: 44px;
  margin: auto;
  background-color: #262626;
  text-align: center;
}

.nav-wide {
  width: 980px;
  height: 44px;
  margin: auto;
}

.navbar-container img {
  margin-left: 34px;
  margin-right: 34px;
}

.nav-wide a:hover {
  /*fill: #a5a5a5;*/
  opacity: .65;
  cursor: pointer;
}

.nav-dropdown {
  visibility: hidden;
}

/* BAG DROPDOWN MENU */

.entire-bag {
  width: 980px;
  height: auto;
  margin: auto;
  overflow: hidden;
}

#bag {
  float: right;
  margin: auto;
  margin-top: -47px;
  margin-right: -225px;
  right: 0;
  z-index: 4000;
  position: relative;
  /*display: none;*/
  /*perspective: 3000px;*/
}

#bag img {
  float: right;
  margin-right: 220px;
}

#bag img:hover {
  opacity: .65;
  cursor: pointer;
}

#bag:hover .bag-dropdown-full {
  transform: rotateX(0deg);
}

/*#bag.clicked .bag-dropdown-full {
  transform: rotateX(0deg);
}*/

.bag-dropdown-full {
  transition: 0ms transform ease-in-out;
  transform: rotateX(90deg);
  transform-origin: top;
}

/*.open-bag-dropdown-full {
  transform: rotateX(0deg) !Important;
}*/

/*.bag-dropdown-diamond {
  width: 25px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}*/

#diamond {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #ffffff;
	position: absolute;
	top: 25px;
  right: 219px;
  float: right;
  margin-right: 0px;
  z-index: 4000;
}

.bag-dropdown-menu {
  width: 100px;
  height: auto;
  z-index: 9990;
  position: absolute;
  margin: auto;
  top: 44px;
  right: 5px;
  /*pointer-events: none;*/
}

.bag-dropdown {
  width: 290px;
  height: 324px;
  margin: auto;
  margin-top: 5px;
  margin-right: 150px;
  background: #ffffff;
  position: relative;
  border: thin solid #e0e0e0;
  color: #999999;
  border-radius: 3px;
  text-align: left;
  z-index: 200;
  float: right;
}

.inner-bag-dropdown {
  margin-left: 18px;
}

#bag1 {
  width: 248px;
  height: 90px;
  padding-top: 45px;
  padding-left: 65px;
  border-bottom: thin solid #e0e0e0;
}

#bag2 {
  width: 248px;
  height: 44px;
  padding-top: 13px;
  border-bottom: thin solid #e0e0e0;
}

#bag2 a {
  color: #0c7ace;
}

#bag2:hover {
  text-decoration: underline;
  cursor: pointer;
}

#bag3 {
  width: 248px;
  height: 44px;
  padding-top: 14px;
  border-bottom: thin solid #e0e0e0;
}

#bag3 a {
  color: #0c7ace;
}

#bag3:hover {
  text-decoration: underline;
  cursor: pointer;
}

#bag4 {
  width: 248px;
  height: 44px;
  padding-top: 14px;
  border-bottom: thin solid #e0e0e0;
}

#bag4 a {
  color: #0c7ace;
}

#bag4:hover {
  text-decoration: underline;
  cursor: pointer;
}

#bag5 {
  width: 248px;
  height: 44px;
  padding-top: 14px;
  border-bottom: thin solid #e0e0e0;
}

#bag5 a {
  color: #0c7ace;
}

#bag5:hover {
  text-decoration: underline;
  cursor: pointer;
}

#bag6 {
  width: 248px;
  height: 44px;
  padding-top: 14px;
}

#bag6 a {
  color: #0c7ace;
}

#bag6:hover {
  text-decoration: underline;
  cursor: pointer;
}

#bag7 {
  width: 248px;
  height: 44px;
  padding-top: 20px;
}

/* MEDIA QUERIES */

/*@media (max-width: 1396px) {
  #bag img {
    margin-right: 200px;
  }
  #diamond {
    right: 200px;
  }
}
@media (max-width: 1346px) {
  #bag img {
    margin-right: 175px;
  }
  #diamond {
    right: 175px;
  }
}
@media (max-width: 1296px) {
  #bag img {
    margin-right: 150px;
  }
  #diamond {
    right: 150px;
  }
}
@media (max-width: 1246px) {
  #bag img {
    margin-right: 125px;
  }
  #diamond {
    right: 125px;
  }
}
@media (max-width: 1197px) {
  #bag img {
    margin-right: 100px;
  }
  #diamond {
    right: 100px;
  }
}*/

@media (max-width: 767px) {
  .nav-wide {
    display: none;
  }

  .nav-dropdown {
    visibility: visible;
  }

  .nav-dropdown img {
    margin: auto;
  }
}
