.signin-gray-background {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #f2f2f2;
}

.signin-container {
  width: 980px;
  height: 542px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(125, 125, 125, 1);
}

.signin-container input {
  width: 338px;
  height: 37px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  padding-left: 10px;
  color: #333333;
  font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

.signin-top-section {
  width: 930px;
  height: 50px;
  margin: auto;
  text-align: left;
}

.signin-top-left {
  width: 200px;
  height: 50px;
  float: left;
  font-size: 24px;
  font-weight: normal;
  line-height: 17px;
  color: #000;
  padding-top: 20px;
}

.signin-top-right {
  width: 57px;
  height: 50px;
  float: right;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.signin-lock {
  width: 10px;
  height: auto;
  margin: auto;
}

.signin-lock img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 10px;
}

.signin-top-right h6 {
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  color: #666666;
  padding-top: 15px;
}

.signin-mid-section {
  width: 980px;
  height: 402px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.signin-mid-left {
  width: 338px;
  height: auto;
  margin: auto;
  margin-left: 100px;
  margin-right: 50px;
  float: left;
}

.signin-mid-left h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 17px;
  color: #000000;
}

.signin-mid-left input {
  margin-bottom: 15px;
}

.signin-mid-left a {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #0c7ace;
}

.signin-mid-left a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signin-mid-center {
  width: auto;
  height: 402px;
  margin: auto;
}

.signin-mid-center img {
  width: auto;
  height: 402px;
  margin: auto;
}

.signin-mid-right {
  width: 338px;
  height: auto;
  margin: auto;
  margin-left: 50px;
  margin-right: 100px;
  float: right;
}

.signin-list {
  width: 467px;
  height: auto;
}

.signin-mid-right h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
}

.list-container {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 27px;
}

.signin-mid-right li {
  list-style-type: disc;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  color: #666666;
}

.signin-mid-right a {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: #0c7ace;
}

.signin-mid-right a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.signin-bottom-section {
  width: 980px;
  height: 68px;
  margin: auto;
  margin-top: 6px;
  border-top: thin solid #cccccc;
  text-align: center;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
  background: -webkit-linear-gradient(top, #ffffff, #efefef);
  background: -moz-linear-gradient(top, #ffffff, #efefef);
  background: -ms-linear-gradient(top, #ffffff, #efefef);
  background: -o-linear-gradient(top, #ffffff, #efefef);
}

.signin-bottom-left {
  width: 130px;
  height: auto;
  float: left;
  margin: auto;
  margin-top: 25px;
}

.signin-bottom-right {
  float: right;
  margin-right: 25px;
  display: flex;
  flex-direction: row;
  padding-top: 26px;
}

.signin-phone-img {
  width: 15px;
  height: auto;
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.signin-phone-img img {
  width: 100%;
  height: auto;
  margin: auto;
}

.signin-footer {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 12px;
  line-height: 17px;
  color: #999999;
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
}

.signin-footer p a {
  color: #333333;
}

.signin-footer p a:hover {
  text-decoration: underline;
  cursor: pointer;
}
