/* NAVBAR-MacBook */

.fixed-navbar-placeholder {
  width: 100%;
  height: 52px;
  margin: auto;
}

.fixed-navbar {
  position: fixed;
  transform: translateY(-44px);
}

.state-navbar {
  width: 980px;
  height: 52px;
  margin: auto;
  text-align: center;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: thin;
  font-style: normal;
  color: #333333;
  border-bottom: thin solid #eaeaea;
  background: rgba(255, 255, 255, 0);
  position: relative;
  z-index: 9999;
}

.state-navbar a {
  color: #333333;
}

.state-navbar a:hover {
  color: #0c7ace;
  cursor: pointer;
}

.state-navbar h2 {
  color: #333333;
}

.state-navbar h2:hover {
  cursor: pointer;
}

.state-navbar-left {
  float: left;
  font-size: 28px;
  line-height: 28px;
  padding-top: 13px;
  position: relative;
}

.state-navbar-right {
  float: right;
  font-size: 13px;
  line-height: 22px;
  padding-top: 18px;
  font-weight: normal;
  position: relative;
}

.state-navbar-right a, span {
  margin-left: 20px;
}

.state-navbar-right a.current {
  color: #999;
}

.full-state-navbar {
  width: 100%;
  height: 52px;
  background: rgba(255, 255, 255, 0);
}

.full-state-navbar-top {
  width: 100%;
  height: 52px;
  /*background: rgba(255, 255, 255, 0.75);*/
  position: absolute;
  z-index: 200;
  -ms-transition: background 1s;
  -webkit-transition: background 1s;
  -moz-transition: background 1s;
  -o-transition: background 1s;
  transition: background 1s;
}

.stuck-state-navbar {
  z-index: 9999;
}
