/* LIGHT */
@import url('https://db.onlinewebfonts.com/c/c37920f95595038e0868564341c71133?family=Myriad+Pro');
/* REGULAR */
/*@import url('https://db.onlinewebfonts.com/c/a89cf050c859a23e4b6d9cf5989acf9e?family=Myriad+Pro');*/
/* SEMIBOLD */
/*@import url('https://db.onlinewebfonts.com/c/f74ee7cbb191e486e9551cdada1999ed?family=Myriad+Pro+Light');*/


body {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

p {
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.button {
  border-style: hidden;
  background: #0070c9;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a85d4), to(#0070c9));
  background: -webkit-linear-gradient(top, #2a85d4, #0070c9);
  background: -moz-linear-gradient(top, #2a85d4, #0070c9);
  background: -ms-linear-gradient(top, #2a85d4, #0070c9);
  background: -o-linear-gradient(top, #2a85d4, #0070c9);
  padding: 5px 12px 5px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  font-family: "Myriad Set Pro","Myriad Pro","HelveticaNeue","Helvetica","Arial","Verdana","sans-serif";
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  border-top-color: #2a85d4;
  background: #2a85d4;
  color: #ffffff;
  cursor: pointer;
}
.button:active {
  border-top-color: #3f9fef;
  background: #3f9fef;
}

.button-medium {
  border-style: hidden;
  background: #0070c9;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a85d4), to(#0070c9));
  background: -webkit-linear-gradient(top, #2a85d4, #0070c9);
  background: -moz-linear-gradient(top, #2a85d4, #0070c9);
  background: -ms-linear-gradient(top, #2a85d4, #0070c9);
  background: -o-linear-gradient(top, #2a85d4, #0070c9);
  padding: 10px 8px 10px 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  line-height: 17px;
  font-family: "Myriad Set Pro","Myriad Pro","HelveticaNeue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
.button-medium:hover {
  border-top-color: #2a85d4;
  background: #2a85d4;
  color: #ffffff;
  cursor: pointer;
}
.button-medium:active {
  border-top-color: #3f9fef;
  background: #3f9fef;
}

.button-medium-white {
  border: thin solid #cccccc;
  background: rgba(239, 239, 239, .1);
  padding: 10px 8px 10px 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #2a85d4;
  font-size: 15px;
  line-height: 17px;
  font-family: "Myriad Set Pro","Myriad Pro","HelveticaNeue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
.button-medium-white:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
  background: -webkit-linear-gradient(top, #ffffff, #efefef);
  background: -moz-linear-gradient(top, #ffffff, #efefef);
  background: -ms-linear-gradient(top, #ffffff, #efefef);
  background: -o-linear-gradient(top, #ffffff, #efefef);
  color: #2a85d4;
  cursor: pointer;
}
.button-medium-white:active {
  border-top-color: #efefef;
  background: #efefef;
}

.button-large {
  border-style: hidden;
  background: #0070c9;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a85d4), to(#0070c9));
  background: -webkit-linear-gradient(top, #2a85d4, #0070c9);
  background: -moz-linear-gradient(top, #2a85d4, #0070c9);
  background: -ms-linear-gradient(top, #2a85d4, #0070c9);
  background: -o-linear-gradient(top, #2a85d4, #0070c9);
  padding: 15px 8px 15px 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  line-height: 35px;
  font-family: "Myriad Set Pro","Myriad Pro","HelveticaNeue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
.button-large:hover {
  border-top-color: #2a85d4;
  background: #2a85d4;
  color: #ffffff;
  cursor: pointer;
}
.button-large:active {
  border-top-color: #3f9fef;
  background: #3f9fef;
}

#diamond {
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom-color: #ffffff;
	position: absolute;
	top: 27px;
  right: 220px;
  float: right;
  margin-right: 0px;
  z-index: 4000;
}

/* NAVBAR-MacBook */

.state-navbar {
  width: 980px;
  height: 52px;
  margin: auto;
  text-align: center;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: thin;
  font-style: normal;
  color: #333333;
  border-bottom: thin solid #eaeaea;
  background: rgba(255, 255, 255, 0);
  position: relative;
  z-index: 9999;
}

.state-navbar a {
  color: #333333;
}

.state-navbar a:hover {
  color: #0c7ace;
  cursor: pointer;
}

.state-navbar h2 {
  color: #333333;
}

.state-navbar h2:hover {
  cursor: pointer;
}

.state-navbar-left {
  float: left;
  font-size: 28px;
  line-height: 28px;
  padding-top: 13px;
  position: relative;
}

.state-navbar-right {
  float: right;
  font-size: 13px;
  line-height: 22px;
  padding-top: 18px;
  font-weight: normal;
  position: relative;
}

.state-navbar-right a, span {
  margin-left: 20px;
}

.full-state-navbar {
  width: 100%;
  height: 52px;
  background: rgba(255, 255, 255, 0);
}

.full-state-navbar-top {
  width: 100%;
  height: 52px;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  z-index: 200;
}

.stuck-state-navbar {
  z-index: 9999;
}

/* homeTmpl.html */

.home-body-content {
  text-align: center;
}

.top-headline-full {
  width: 100%;
  height: auto;
  margin: auto;
}

.top-headline {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 80px;
  position: relative;
}

.top-headline h1 {
  text-align: center;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 64px;
  line-height: 68px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
}

.top-headline h2 {
  text-align: center;
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 42px;
  line-height: 48px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-bottom: 50px;
}

.home-body-content p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 18px;
  line-height: 26px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
}

.home-photo1 {
  width: 917px;
  height: 313px;
  margin: auto;
  background-image: url("../img/home/hero_static_medium_2x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

.home-photo1 img {
  width: 100%;
  height: auto;
  margin: auto;
}

.watch-film {
  width: 230px;
  height: 40px;
  color: #d0bca4;
  fill: #d0bca4;
  font-size: 24px;
  line-height: 33px;
  margin: auto;
}

.watch-film svg {
  width: 20px;
  height: auto;
  /*top: 16%;*/
  transform: translateY(16%);
}

.watch-film:hover {
  color: #000000;
  cursor: pointer;
  fill: #000000;
}

.macbook-intro {
  width: 60%;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.macbook-intro p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 27px;
  line-height: 41px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-top: 30px;
}

.measurements-full {
  width: 100%;
  height: auto;
  margin-bottom: 150px;
}

.measurements {
  width: 980px;
  height: 160px;
  /*padding-top: 50px;
  padding-bottom: 150px;*/
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: left;
  align-items: center;
}

/*.measurements-container {
  width: 160px;
  height: 160px;
  margin: auto;
}*/

#measurements1 {
  width: 155px;
  height: 160px;
  margin: auto;
}

#measurements2 {
  width: 100px;
  height: 160px;
  margin: auto;
}

#measurements3 {
  width: 160px;
  height: 160px;
  margin: auto;
}

#measurements4 {
  width: 150px;
  height: 160px;
  margin: auto;
}

.retina-display-measurements-full {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 150px;
  padding-right: 200px;
}

.retina-display-measurements-partial {
  width: 800px;
  height: 160px;
  margin-left: -30px;
}

.retina-display-measurements {
  width: 800px;
  height: 160px;
  display: inline-flex;
  flex-flow: row;
  align-items: left;
  text-align: left;
  margin-left: 0px;
}

#measurements5 {
  width: 160px;
  height: 160px;
  margin: auto;
  text-align: left;
}

#measurements5 h4 {
  padding-left: 13px;
}

#measurements6 {
  width: 350px;
  height: 160px;
  margin: auto;
  text-align: left;
}

#measurements7 {
  width: 150px;
  height: 160px;
  margin: auto;
  text-align: left;
}

#measurements7 h4 {
  padding-left: 13px;
}

.measurements-container span {
  font-size: 42px;
  line-height: 32px;
  padding-top: 10px;
}

.measurements-container div {
  width: 100%;
  height: auto;
}

.measurements-container h3 {
  font-size: 80px;
  line-height: 64px;
  color: #bdb099;
}

.measurements-container h4 {
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  font-weight: normal;
}

.home-photo2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: auto;
}

.home-photo2 img {
  width: 100%;
  height: auto;
  margin: auto;
}

.gray-background {
  width: 100%;
  height: auto;
  background: #fafafa;
  margin-top: -5px;
  padding-bottom: 5px;
}

#available-in {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #666666;
  padding-top: 15px;
  padding-bottom: 200px;
}

.home-photo3 {
  width: 100vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.home-photo3 img {
  width: 100vw;
  height: auto;
  margin: auto;
}

.small-line {
  width: 48px;
  height: 1px;
  background-color: #ccc;
  margin: auto;
}

.home-photo4 {
  width: 80%;
  height: auto;
  margin: auto;
}

.home-photo4 img {
  width: 100%;
  height: auto;
  margin: auto;
}

.information-left {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 70px;
  text-align: left;
}

.information-left h2 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 52px;
  line-height: 56px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-top: 50px;
  padding-right: 35%;
}

.information-left p {
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.information-left a {
  color: #0c7ace;
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.information-left a:hover {
  text-decoration: underline;
}

.information-center {
  width: 980px;
  height: auto;
  margin: auto;
  text-align: center;
}

.information-center h2 {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-size: 52px;
  line-height: 56px;
  font-weight: 200;
  font-style: normal;
  color: #333333;
  padding-top: 50px;
}

.information-center p {
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-size: 18px;
  font-style: normal;
}

.information-center a {
  color: #0c7ace;
  font-family: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-size: 18px;
  line-height: 25px;
  font-style: normal;
}

.information-center a:hover {
  text-decoration: underline;
}

.long-line {
  width: 1024px;
  height: 2px;
  margin: auto;
  background: white;
  border-bottom: 1px solid #d6d6d6;
}

.home-photo5 {
  width: 80%;
  height: auto;
  margin: auto;
}

.home-photo5 img {
  width: 977px;
  height: auto;
  margin: auto;
}

.home-photo5-shadow {
  width: 1193px;
  height: auto;
  margin: auto;
}

.home-photo5-shadow img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: -150px;
  transform: translateX(-38%);
}

.wireless-icons {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 60px;
}

.wireless-icons img {
  width: 46px;
  height: auto;
  margin: auto;
  margin-left: 17px;
  margin-right: 17px;
}

#wireless1 {
  width: 66px;
  height: auto;
}

#wireless2 {
  width: 47px;
  height: auto;
}

#wireless3 {
  width: 40px;
  height: auto;
}

#wireless4 {
  width: 46px;
  height: auto;
}

#wireless5 {
  width: 46px;
  height: auto;
}

#wireless6 {
  width: 46px;
  height: auto;
}

#wireless7 {
  width: 50px;
  height: auto;
}

#wireless8 {
  width: 46px;
  height: auto;
}

.home-photo6 {
  width: 100%;
  height: 882px;
  margin: auto;
  overflow: hidden;
  background-image: url("../img/home/design_port_large_2x.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 2204px auto;
}

/*.home-photo6 img {
  width: 2204px;
  height: auto;
  margin: auto;
}*/

.home-photo6-vert-line {
  width: 1px;
  height: 30px;
  margin: auto;
  background: #bdb099;
}

.home-photo6-horizontal-line {
  width: 764px;
  height: 21px;
  margin: auto;
  border-top: thin solid #bdb099;
  border-left: thin solid #bdb099;
  border-right: thin solid #bdb099;
}

.usbc-icons {
  width: 100%;
  height: auto;
  margin: auto;
}

.usbc-icons img {
  width: auto;
  height: 80px;
  margin: auto;
  margin-left: 65px;
  margin-right: 65px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.usbc-icons span {
  /*padding-left: 65px;
  padding-right: 65px;*/
  margin: auto 65px auto 65px;
}

.home-photo7 {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-photo7 img {
  width: 40%;
  height: auto;
  margin: auto;
}

.home-internals {
  width: 1018px;
  height: 711px;
  margin: auto;
  background-image: url("../img/home/internals_layer_end_medium_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  text-align: center;
  margin: auto;
  align-content: center;
  /*overflow: hidden;*/
}

.home-internals img {
  width: 100%;
  height: auto;
  margin: auto;
  /*opacity: 0;*/
}

.home-battery {
  width: 100%;
  height: auto;
  margin: auto;
  background: #ffffff;
  overflow: hidden;
}

.home-battery-stack_container {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 123px;
  background-color: #ffffff;
}

.home-battery-stack {
  width: 911px;
  height: 378px;
  float: left;
  background-image: url("../img/home/overview_battery_base_medium_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 911px 378px;
  position: static;
}

#battery1 {
  width: 415px;
  height: auto;
  position: absolute;
  margin-top: 13px;
  /*margin-top: -70px;*/
  left: 41%;
  z-index: 4;
}

#battery2 {
  width: 520px;
  height: auto;
  position: absolute;
  margin-top: 17px;
  /*margin-top: -25px;*/
  left: 35%;
  z-index: 1;
}

#battery3 {
  width: 400px;
  height: auto;
  position: absolute;
  margin-top: 136px;
  /*margin-top: 50px;*/
  left: 23%;
  z-index: 3;
}

#battery4 {
  width: 460px;
  height: auto;
  position: absolute;
  margin-top: 139px;
  /*margin-top: 100px;*/
  left: 20.5%;
  z-index: 2;
}

.home-macos {
  width: 980px;
  height: auto;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.home-macos .information-left {
  position: absolute;
  z-index: 2;
}

.home-macos-image {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-macos-image img {
  width: 113%;
  height: auto;
  margin: auto;
  margin-left: -125px;
  z-index: 1;
  float: left;
}

.spacing-adjustment {
  width: 100%;
  height: 1300px;
}

.home-builtinapps {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-builtinapps .information-center {
  padding-bottom: 100px;
}

.home-builtinapps-image {
  width: 95%;
  height: auto;
  margin: auto;
  padding-bottom: 175px;
  overflow: hidden;
}

.home-builtinapps-image img {
  width: 100%;
  height: auto;
  margin: auto;
}

.home-pure-invention {
  width: auto;
  height: 838px;
  background-image: url("../img/home/overview_design_medium_2x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 838px;
}

.home-pure-invention .information-center {
  padding-top: 275px;
}
