.wireless {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless a {
  color: #0070C9;
}

.wireless p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.wireless-pic01 {
  width: 100%;
  height: 740px;
  background-image: url("../img/wireless/hero_lifestyle_large_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wireless-connected {
  width: 100%;
  height: 443px;
  margin: auto;
  margin-top: 69px;
  margin-bottom: 110px;
  text-align: center;
  color: #333333;
}

.wireless-connected-text {
  width: 980px;
  height: auto;
  margin: auto;
}

.wireless-connected h1 {
  font-size: 64px;
  line-height: 68px;
}

.wireless-connected p {
  font-size: 27px;
  line-height: 41px;
  margin-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

/* WIRELESS iCLOUD */

.wireless-icloud {
  width: 100%;
  height: 1500px;
  margin: auto;
  text-align: center;
  color: #333333;
  background-color: #fafafa;
  /*overflow: hidden;*/
}

.wireless-icloud h6 {
  font-size: 28px;
  line-height: 42px;
  padding-top: 150px;
  padding-bottom: 10px;
}

.wireless-icloud h1 {
  font-size: 52px;
  line-height: 56px;
  padding-bottom: 75px;
}

.wireless-icloud img {
  width: 1150px;
  height: auto;
  margin: auto;
}

.wireless-icloud p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  margin-top: -125px;
  padding-left: 90px;
  padding-right: 90px;
}

/* WIRELESS AIRDROP */

.wireless-airdrop-container {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-airdrop {
  width: 100%;
  height: 730px;
  background-image: url("../img/wireless/airdrop_lifestyle_large_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.wireless-airdrop-headline {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-airdrop-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.wireless-airdrop-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-bottom: 75px;
  text-align: center;
  color: #ffffff;
}

.wireless-airdrop-text {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-airdrop-text p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.wireless-airdrop-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-left: 75px;
  background-color: #ffffff;
}

.wireless-airdrop-img img {
  width: 75%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  float: left;
}

/* WIRELESS BLUETOOTH */

.wireless-bluetooth-container {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-bluetooth {
  width: 100%;
  height: 730px;
  background-image: url("../img/wireless/bluetooth_lifestyle_large_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.wireless-bluetooth-headline {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-bluetooth-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.wireless-bluetooth-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-bottom: 75px;
  text-align: center;
  color: #ffffff;
}

.wireless-bluetooth-text {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-bluetooth-text p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.wireless-bluetooth-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 150px;
}

.wireless-bluetooth-img img {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

/* WIRELESS AIRPLAY */

.wireless-airplay-container {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-airplay {
  width: 100%;
  height: 730px;
  background-image: url("../img/wireless/airplay_lifestyle_large_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.wireless-airplay-headline {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-airplay-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.wireless-airplay-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-bottom: 75px;
  text-align: center;
  color: #ffffff;
}

.wireless-airplay-text {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-airplay-text p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.wireless-airplay-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 100px;
}

.wireless-airplay-img img {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}
