@import '../overallStyles';

/* WIRELESS STYLES */

.wireless {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-navbar h2 {
  color: #ffffff;
  -ms-transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.wireless-navbar a {
  color: #ffffff;
  font-size: 14px;
  font-weight: 200;
  -ms-transition: color 1s;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.wireless-navbar a:hover {
  color: #66BBFF;
}

.wireless-navbar .state-navbar-right a.current {
  color: #dedede;
}

.wireless-body a {
  color: #0070C9;
}

.wireless p {
  font-family: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
  font-weight: 200;
  font-style: normal;
}

.wireless-pic01 {
  width: 100%;
  height: 740px;
  background-image: url("../img/wireless/hero_lifestyle_large_2x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* WIRELESS CONNECTED */

.wireless-connected {
  width: 100%;
  height: 443px;
  margin: auto;
  margin-top: 69px;
  margin-bottom: 110px;
  text-align: center;
  color: #333333;
}

.wireless-connected-text {
  width: 980px;
  height: auto;
  margin: auto;
}

.wireless-connected h1 {
  font-size: 64px;
  line-height: 68px;
}

.wireless-connected p {
  font-size: 27px;
  line-height: 41px;
  margin-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
}

/* WIRELESS iCLOUD */

.wireless-icloud {
  width: 100%;
  height: 1500px;
  margin: auto;
  text-align: center;
  color: #333333;
  background-color: #fafafa;
  /*overflow: hidden;*/
}

.wireless-icloud h6 {
  font-size: 28px;
  line-height: 42px;
  padding-top: 150px;
  padding-bottom: 10px;
}

.wireless-icloud h1 {
  font-size: 52px;
  line-height: 56px;
  padding-bottom: 75px;
}

.wireless-icloud img {
  width: 1150px;
  height: auto;
  margin: auto;
}

.wireless-icloud p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  margin-top: -125px;
  padding-left: 90px;
  padding-right: 90px;
}

/* WIRELESS AIRDROP */

.wireless-airdrop-container {
  width: 100vw;
  height: auto;
  margin: auto;
}

.wireless-header-container {
  width: 100vw;
  height: 640px;
  margin: auto;
  position: relative;
}

.wireless-header-img {
  width: 100vw;
  height: 640px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: -3;
}

.wireless-header-img img {
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  z-index: -2;
  transition: 0s linear;
  transition-property: transform;
}

.wireless-headline-container {
  width: 100vw;
  height: 640px;
  margin: auto;
  position: absolute;
  z-index: -1;
  top: 0;
}

.wireless-headline {
  width: 100vw;
  height: auto;
  margin: auto;
  z-index: 5;
}

.wireless-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.wireless-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  text-align: center;
  color: #ffffff;
}

.wireless-subheader-text {
  width: 100vw;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-subheader-text p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.wireless-airdrop-img {
  width: 100vw;
  height: auto;
  margin: auto;
  margin-left: 75px;
  background-color: #ffffff;
}

.wireless-airdrop-img img {
  width: 75%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  float: left;
}

/* WIRELESS BLUETOOTH */

.wireless-bluetooth-container {
  width: 100vw;
  height: auto;
  margin: auto;
}

.wireless-bluetooth-header {
  width: 100vw;
  height: 640px;
  margin: auto;
  overflow: hidden;
}

.wireless-bluetooth-headline {
  width: 100vw;
  height: auto;
  margin: auto;
  position: absolute;
  z-index: -1;
}

.wireless-bluetooth-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.wireless-bluetooth-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-bottom: 75px;
  text-align: center;
  color: #ffffff;
}

.wireless-bluetooth-header-img {
  width: 100vw;
  height: 640px;
  margin: auto;
  position: relative;
  z-index: -3;
}

.wireless-bluetooth-header-img img {
  width: 100%;
  height: auto;
  margin: auto;
  top: 0;
  position: absolute;
  z-index: -2;
  transition: 0s linear;
  transition-property: transform;
}

.wireless-bluetooth-text {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-bluetooth-text p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.wireless-bluetooth-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 100px;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 150px;
}

.wireless-bluetooth-img img {
  width: 70%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

/* WIRELESS AIRPLAY */

.wireless-airplay-container {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-airplay-header {
  width: 100vw;
  height: 640px;
  margin: auto;
  overflow: hidden;
}

.wireless-airplay-headline {
  width: 100vw;
  height: auto;
  margin: auto;
  position: absolute;
  z-index: -1;
}

.wireless-airplay-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.wireless-airplay-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-bottom: 75px;
  text-align: center;
  color: #ffffff;
}

.wireless-airplay-header-img {
  width: 100vw;
  height: 640px;
  margin: auto;
  position: relative;
  z-index: -3;
}

.wireless-airplay-header-img img {
  width: 100%;
  height: auto;
  margin: auto;
  top: 0;
  position: absolute;
  z-index: -2;
  transition: 0s linear;
  transition-property: transform;
}

.wireless-airplay-text {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-airplay-text p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.wireless-airplay-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 100px;
}

.wireless-airplay-img img {
  width: 60%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

/* WIRELESS HOTSPOT */

.wireless-hotspot-container {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-hotspot-header {
  width: 100vw;
  height: 640px;
  margin: auto;
  overflow: hidden;
}

.wireless-hotspot-headline {
  width: 100vw;
  height: auto;
  margin: auto;
  position: absolute;
  z-index: -1;
}

.wireless-hotspot-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 250px;
  padding-bottom: 10px;
  text-align: center;
  color: #ffffff;
}

.wireless-hotspot-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-bottom: 75px;
  text-align: center;
  color: #ffffff;
}

.wireless-hotspot-header-img {
  width: 100vw;
  height: 640px;
  margin: auto;
  position: relative;
  z-index: -3;
}

.wireless-hotspot-header-img img {
  width: 100%;
  height: auto;
  margin: auto;
  top: 0;
  position: absolute;
  z-index: -2;
  transition: 0s linear;
  transition-property: transform;
}

.wireless-hotspot-text {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

.wireless-hotspot-text p {
  width: 980px;
  height: auto;
  margin: auto;
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 75px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.wireless-hotspot-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  background-color: #ffffff;
  text-align: center;
}

.wireless-hotspot-img img {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
}

/* WIRELESS APP STORE */

.wireless-appstore-container {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: -5px;
  background-color: #fafafa;
  color: #000000;
  padding-top: 200px;
  padding-bottom: 50px;
}

.wireless-appstore {
  width: 100%;
  height: 1253px;
  background-image: url("../img/wireless/mac_appstore_hero_large_2x.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.wireless-appstore-headline {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-appstore-text {
  width: 980px;
  height: auto;
  margin: auto;
}

.wireless-appstore-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 10px;
  padding-left: 60px;
  text-align: left;
}

.wireless-appstore-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-left: 60px;
  text-align: left;
}

.wireless-appstore-text p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
  padding-top: 35px;
  padding-left: 60px;
  padding-right: 490px;
}

.wireless-appstore-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  background-color: #fafafa;
  text-align: center;
  padding-bottom: 200px;
}

.wireless-appstore-img img {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #fafafa;
}

/* WIRELESS PRINTING */

.wireless-printing-container {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  color: #000000;
}

.wireless-printing {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  background-size: cover;
  overflow: hidden;
}

.wireless-printing-headline {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-printing-text {
  width: 980px;
  height: auto;
  margin: auto;
}

.wireless-printing-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 10px;
  text-align: center;
}

.wireless-printing-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  text-align: center;
}

.wireless-printing-text p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: center;
  padding-top: 35px;
  padding-left: 175px;
  padding-right: 175px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

.wireless-printing-img {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #ffffff;
  text-align: center;
  overflow: hidden;
}

.wireless-printing-img img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-right: -350px;
  margin-bottom: 100px;
  background-color: #ffffff;
}

/* WIRELESS TIME MACHINE */

.wireless-timemachine-container {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: -5px;
  background-color: #fafafa;
  color: #000000;
  padding-top: 200px;
  padding-bottom: 50px;
}

.wireless-timemachine {
  width: 100%;
  height: 978px;
  background-image: url("../img/wireless/time_machine_hero_large_2x.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  margin-left: 75px;
}

.wireless-timemachine-headline {
  width: 100%;
  height: auto;
  margin: auto;
}

.wireless-timemachine-text {
  width: 980px;
  height: auto;
  margin: auto;
}

.wireless-timemachine-headline h6 {
  font-size: 30px;
  line-height: 42px;
  margin: auto;
  padding-top: 225px;
  padding-bottom: 10px;
  padding-left: 415px;
  text-align: left;
}

.wireless-timemachine-headline h1 {
  font-size: 54px;
  line-height: 56px;
  margin: auto;
  padding-left: 415px;
  text-align: left;
}

.wireless-timemachine-text p {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  text-align: left;
  padding-top: 35px;
  padding-left: 415px;
}

.wireless-timemachine-img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-top: 50px;
  background-color: #fafafa;
  text-align: center;
  padding-bottom: 200px;
}

.wireless-timemachine-img img {
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #fafafa;
}
