<div class="signin-gray-background bag-container wow fadeIn" data-wow-duration="0.5s">
  <navbar-dir></navbar-dir>

  <div class="bag-free-shipping">
    <div class="bag-shipping-inner-container">
      <h6>
        <embed src="./styles/img/icons/Shipping-icon-2x.svg" />
        &nbsp;
        Get free shipping or pick up at any Apple Store.
      </h6>
    </div>
  </div>

  <div class="bag-items-container">
    <div class="bag-items-inner-container">
      <div>
        <h1>Items in Your Bag</h1>
      </div>

      <div class="bag-full-line"></div>

      <div>
        <div ng-repeat="product in products">
          <div class="bag-items">
            <div class="bag-item-container-left">
              <img src={{product.macbook_img}} />
            </div>

            <div class="bag-item-container-right">
              <div class="bag-product-upper">
                <div class="bag-product-upper-left">
                  <h2>{{product.name}}</h2>
                </div>

                <ul class="bag-product-upper-right">
                  <li class="bag-item-total">
                    <h2>{{product.price | currency}}</h2>
                  </li>
                  <li>
                    <input type="number" ng-model="product.qty">
                    <button class="bag-update-button" type="button" name="button" ng-click="changeQty(product.id, product.qty)">Update QTY.</button>
                  </li>
                  <li class="bag-item-price">
                    <h5>{{product.price | currency}}</h5>
                  </li>
                </ul>
              </div>

              <div class="bag-full-line"></div>

              <button class="bag-remove-button" type="button" ng-click="removeFromCart(product.id)">Remove</button>

              <div class="bag-product-details-container">
                <div class="bag-product-details-left">
                  <h4>Hardware</h4>
                  <div class="bag-product-details" style="padding-left: 15px; font-weight: normal;">
                    • &nbsp; {{product.processor}}
                    <br>
                    • &nbsp; {{product.sdram}}
                    <br>
                    • &nbsp; {{product.storage}}
                    <br>
                    • &nbsp; {{product.graphics}}
                    <br>
                    • &nbsp; {{product.keyboard}}
                  </div>
                </div>

                <div class="bag-product-details-right">
                  <h4>Software</h4>
                  <div class="bag-product-details" style="padding-left: 15px; font-weight: normal;">
                    • &nbsp; {{product.operating_sys}}
                    <br>
                    • &nbsp; {{product.media_software}}
                    <br>
                    • &nbsp; {{product.office_software}}
                  </div>
                </div>
              </div>

              <br><br>
            </div>

          </div>

          <div class="bag-full-line"></div>

        </div>

        <br>

        <div class="bag-items-totals-container">
          <div class="bag-items-totals">
            <ul class="bag-items-totals-left">
              <li><h5>Bag Subtotal</h5></li>
              <li><h5 style="font-weight: bold; padding-top: 10px;"><span>Free Shipping</span></h5></li>
              <li><h4>Estimated Tax | <a>Edit</a></h4></li>
              <li><h3 style="border-top: 1px solid #cccccc;">Total</h3></li>
            </ul>
            <ul class="bag-items-totals-right">
              <li><h5>unknown{{bag_subtotal}}</h5></li>
              <li><h5 style="padding-top: 10px;"><span>$0.00</span></h5></li>
              <li><h5 style="padding-top: 10px;">unknown{{estimated_tax}}</h5></li>
              <li><h2 style="border-top: 1px solid #cccccc;">unknown{{bag_total}}</h2></li>
            </ul>
          </div>
        </div>

        <br>

        <div class="bag-checkout-container">
          <br>
          <!-- <div class="bag-checkout-left">
          </div> -->

          <div class="bag-checkout-right">
            {{order}}
            <button class="button-medium" type="button" ng-click="placeOrder(id, order.id)">Check Out</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bag-recommendations-container">
    <div class="bag-recommendations-inner-container">
      <div>
        <h1>Recommended for You</h1>
      </div>
      <div class="bag-full-line"></div>
      <ul class="bag-recs-top">
        <li class="bag-recs-left">
          <div class="bag-recs-img">
            <img src="./styles/img/bag/USB-C-to-Lightning-Cable-small.jpeg" />
          </div>
          <div class="bag-recs-info">
            <h2>USB-C to Lightning Cable (1 m)</h2>
            <br>
            <h6>$19.00</h6>
            <br>
            <button class="button-medium-white">Add To Bag</button>
          </div>
        </li>

        <li class="bag-recs-right">
          <div class="bag-recs-img">
            <img src="./styles/img/bag/SanDisk-64GB-Dual-Drive-USB-C-Flash-Drive-small.jpeg" />
          </div>
          <div class="bag-recs-info">
            <h2>SanDisk 64GB Dual Drive USB-C Flash Drive</h2>
            <br>
            <h6>$52.00</h6>
            <br>
            <button class="button-medium-white">Add To Bag</button>
          </div>
        </li>
      </ul>
      <ul class="bag-recs-bottom">
        <li class="bag-recs-left">
          <div class="bag-recs-img">
            <img src="./styles/img/bag/USB-C-Digital-AV-Multiport-Adapter-small.jpeg" />
          </div>
          <div class="bag-recs-info">
            <h2>USB-C Digital AV Multiport Adapter</h2>
            <br>
            <h6>$49.00</h6>
            <br>
            <button class="button-medium-white">Add To Bag</button>
          </div>
        </li>

        <li class="bag-recs-right">
          <div class="bag-recs-img">
            <img src="./styles/img/bag/Belkin-USB-C-to-USB-C-Cable-small.jpeg" />
          </div>
          <div class="bag-recs-info">
            <h2>Belkin USB-C to USB-C Cable (USB 3.1)</h2>
            <br>
            <h6>$22.00</h6>
            <br>
            <button class="button-medium-white">Add To Bag</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="bag-questions-container">
    <div class="bag-questions-inner-container">
      <div>
        <h1>Questions</h1>
      </div>
      <div class="bag-full-line"></div>
      <ul class="bag-questions-top">
        <li class="bag-questions-third">
          <h2>When will I get my items?</h2>
          <p>We need your shipping address before we can give you an accurate delivery estimate. We’ll provide delivery dates when you enter your shipping information during checkout. Learn more about <a href="">Shipping & Pickup.</a></p>
        </li>

        <li class="bag-questions-third">
          <h2>Can I pick up my items at an Apple Store?</h2>
          <p>Yes. You can order online and pick up your items at your local Apple Store. You'll see more options during the checkout process. Learn more about <a href="">Pickup.</a></p>
        </li>

        <li class="bag-questions-third">
          <h2>What payment methods can I use?</h2>
          <p>During checkout, you may use any online payment method available on the Apple Store. Learn more about Apple Pay. PayPal, Apple Store Gift Cards, and financing options may not be available for all products. Some customers may qualify for other forms of payment; call 1-800-MY-APPLE for information. Learn more about <a href="">Payment & Pricing.</a></p>
        </li>
      </ul>

      <div class="bag-full-line"></div>

      <ul class="bag-questions-bottom">
        <li class="bag-questions-third">
          <h2>How is sales tax determined for my order?</h2>
          <p>The tax listed on the Bag and Checkout pages is an estimate. Your invoice will reflect the final total tax, which includes state taxes, local taxes, and any applicable fees. Learn more about <a href="">Payment & Pricing.</a></p>
        </li>

        <li class="bag-questions-third">
          <h2>Does Apple offer an education discount?</h2>
          <p>Apple offers special pricing for students, teachers, administrators, staff members, and homeschooling programs. If you think you qualify, visit the <a href="">Apple Store for Education</a> to place your order. Learn more about <a href="">Payment & Pricing.</a></p>
        </li>

        <li class="bag-questions-third">
          <h2>What financing options are available?</h2>
          <p>You can apply for a Barclaycard Visa with Apple Rewards. <a href="">Learn more ></a></p>
        </li>
      </ul>
    </div>
  </div>

  <div class="bag-note-container">
    <div class="bag-note-inner-container">
      <p>*Subject to credit approval. Minimum purchase required. <a href="">See Terms</a></p>
    </div>
  </div>

  <div class="bag-full-line" style="width: 980px; margin: auto;"></div>

</div>

<div class="bag-footer-full">
  <div class="footer-container" style="width: 980px; height: auto; margin: auto;">
    <div class="site-location">
      <svg version="1.1" id="Global_Nav_Small_Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
         x="0px" y="0px" width="21px" height="48px" viewBox="0 0.5 21 48" enable-background="new 0 0.5 21 48" xml:space="preserve">
        <path id="Apple_1_" fill="#666666" d="M19.35,26.896c-0.119,0.34-0.244,0.664-0.377,0.974c-0.324,0.733-0.705,1.409-1.149,2.028
          c-0.604,0.847-1.097,1.432-1.479,1.754c-0.59,0.535-1.223,0.81-1.9,0.824c-0.487,0-1.074-0.137-1.758-0.412
          c-0.686-0.273-1.314-0.412-1.891-0.412c-0.604,0-1.251,0.139-1.943,0.412c-0.694,0.275-1.253,0.42-1.68,0.434
          c-0.65,0.027-1.298-0.253-1.945-0.846c-0.414-0.353-0.929-0.957-1.548-1.817c-0.664-0.915-1.209-1.979-1.636-3.192
          c-0.456-1.309-0.685-2.576-0.685-3.803c0-1.408,0.311-2.621,0.929-3.637c0.487-0.816,1.135-1.461,1.945-1.934
          s1.687-0.713,2.629-0.729c0.517,0,1.193,0.158,2.035,0.467c0.839,0.309,1.376,0.464,1.613,0.464c0.177,0,0.774-0.183,1.789-0.55
          c0.958-0.338,1.769-0.478,2.433-0.422c1.797,0.142,3.146,0.838,4.043,2.093c-1.605,0.959-2.4,2.298-2.387,4.014
          c0.016,1.341,0.51,2.455,1.481,3.339C18.311,26.355,18.803,26.674,19.35,26.896z M14.828,11.518
          c0.015,0.141,0.021,0.279,0.021,0.421c0,1.047-0.389,2.027-1.166,2.936c-0.939,1.078-2.074,1.701-3.307,1.604
          c-0.016-0.126-0.024-0.259-0.024-0.398c0-1.009,0.445-2.085,1.24-2.969c0.396-0.446,0.899-0.816,1.509-1.109
          C13.709,11.707,14.287,11.546,14.828,11.518z"/>
      </svg>
      <div><h6> > </h6></div>
      <div><h6> Bag </h6></div>
    </div>

    <div class="directory-5-coloumns">
      <div class="grid">
        <h5>Shop and Learn</h5>
        <a href="">Mac</a>
        <br>
        <a href="">iPad</a>
        <br>
        <a href="">iPhone</a>
        <br>
        <a href="">Watch</a>
        <br>
        <a href="">TV</a>
        <br>
        <a href="">Music</a>
        <br>
        <a href="">iTunes</a>
        <br>
        <a href="">iPod</a>
        <br>
        <a href="">Accessories</a>
        <br>
        <a href="">Gift Cards</a>
      </div>

      <div class="grid">
        <h5>Apple Store</h5>
        <a href="">Find a Store</a>
        <br>
        <a href="">Genius Bar</a>
        <br>
        <a href="">Workshops and Learning</a>
        <br>
        <a href="">Youth Programs</a>
        <br>
        <a href="">Apple Store App</a>
        <br>
        <a href="">Refurbished and Clearance</a>
        <br>
        <a href="">Financing</a>
        <br>
        <a href="">Reuse and Recycling</a>
        <br>
        <a href="">Order Status</a>
        <br>
        <a href="">Shopping Help</a>
      </div>

      <div class="grid">
        <h5>For Education</h5>
        <a href="">Apple and Education</a>
        <br>
        <a href="">Shop for College</a>
        <br>
        <br>
        <h5>For Business</h5>
        <a href="">Apple and Business</a>
        <br>
        <a href="">Shop for Business</a>
      </div>

      <div class="grid">
        <h5>Account</h5>
        <a href="">Manage Your Apple ID</a>
        <br>
        <a href="">Apple Store Account</a>
        <br>
        <a href="">iCloud.com</a>
        <br>
        <br>
        <h5>Apple Values</h5>
        <a href="">Accessibility</a>
        <br>
        <a href="">Education</a>
        <br>
        <a href="">Environment</a>
        <br>
        <a href="">Inclusion and Diversity</a>
        <br>
        <a href="">Privacy</a>
        <br>
        <a href="">Supplier Responsibility</a>
      </div>

      <div class="grid">
        <h5>About Apple</h5>
        <a href="">Apple Info</a>
        <br>
        <a href="">Newsroom</a>
        <br>
        <a href="">Job Opportunities</a>
        <br>
        <a href="">Press Info</a>
        <br>
        <a href="">Investors</a>
        <br>
        <a href="">Events</a>
        <br>
        <a href="">Contact Apple</a>
      </div>
    </div>

    <div class="more-ways-to-shop">
      <h6>More ways to shop: Visit an <a>Apple Store</a>, call 1-800-MY-APPLE, or <a>find a reseller</a>.</h6>
    </div>

    <div class="copyright-row">
      <div class="left">
        <h6>
          Copyright © 2016 Apple Inc. All rights reserved.&nbsp; &nbsp; &nbsp; &nbsp; <a>Privacy Policy</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp; <a>Terms of Use</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp; <a>Sales and Refunds</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp; <a>Legal</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp;
          <a>Site Map</a>
        </h6>
      </div>
      <div class="right">
        <h6>
          <div class="flag-container">
            <img src="../styles/img/footer/32.png" />
          </div>
          United States
        </h6>
      </div>
  </div>
</div>
