<div class="signin-gray-background bag-container wow fadeIn" data-wow-duration="0.5s">
  <navbar-dir></navbar-dir>

  <div class="bag-free-shipping">
    <div class="bag-shipping-inner-container">
      <h6>
        <embed src="./styles/img/icons/Shipping-icon-2x.svg" />
        &nbsp;
        Get free shipping or pick up at any Apple Store.
      </h6>
    </div>
  </div>

  <div class="bag-items-container">
    <div class="bag-items-inner-container">
      <div>
        <h1>Items in Your Bag</h1>
      </div>

      <div class="bag-full-line"></div>

      <div>
        <div ng-repeat="product in products">
          <div class="bag-items">
            <div class="bag-item-container-left">
              <img src={{product.macbook_img}} />
            </div>

            <div class="bag-item-container-right">
              <div class="bag-product-upper">
                <div class="bag-product-upper-left">
                  <h2>{{product.name}}</h2>
                </div>

                <div class="bag-product-upper-right">
                  {{product.price | currency}}
                  <!-- <br> -->
                  <!-- {{product.qty}} -->
                  <input type="number" ng-model="product.qty">
                  <button class="bag-update-button" type="button" name="button" ng-click="changeQty(product.id, product.qty)">Update QTY.</button>
                </div>
              </div>

              <div class="bag-full-line"></div>

              <button class="bag-remove-button" type="button" ng-click="removeFromCart(product.id)">Remove</button>

              <div class="bag-product-details-container">
                <div class="bag-product-details-left">
                  <h4>Hardware</h4>
                  <div class="bag-product-details" style="padding-left: 15px; font-weight: normal;">
                    • &nbsp; {{product.processor}}
                    <br>
                    • &nbsp; {{product.sdram}}
                    <br>
                    • &nbsp; {{product.storage}}
                    <br>
                    • &nbsp; {{product.graphics}}
                    <br>
                    • &nbsp; {{product.keyboard}}
                  </div>
                </div>

                <div class="bag-product-details-right">
                  <h4>Software</h4>
                  <div class="bag-product-details" style="padding-left: 15px; font-weight: normal;">
                    • &nbsp; {{product.operating_sys}}
                    <br>
                    • &nbsp; {{product.media_software}}
                    <br>
                    • &nbsp; {{product.office_software}}
                  </div>
                </div>
              </div>

              <br><br>
            </div>

          </div>

          <div class="bag-full-line"></div>

        </div>
        <div>
          <br>
          <!-- <div class="bag-checkout-left">
          </div> -->

          <div class="bag-checkout-right">
            {{order}}
            <button class="button-medium" type="button" ng-click="placeOrder(id, order.id)">Check Out</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bag-questions-container">
    <div class="bag-questions-inner-container">
      <div>
        <h1>Questions</h1>
      </div>
      <div class="bag-full-line"></div>
      <div></div>
      <div></div>
    </div>
  </div>

  <div class="bag-note-container">
    <div class="bag-note-inner-container">
      <p>*Subject to credit approval. Minimum purchase required. <a href="">See Terms</a></p>
    </div>
  </div>
</div>
