<div class="wow fadeIn" data-wow-duration="0.5s" ui-view="header" autoscroll="true">
  <navbar-dir></navbar-dir>

  <br><br>

  <h1 style="font-size: 50px; text-align: center;">MacBook Options</h1>
  <br><br>
  <div ng-repeat="product in products">
    <ul>
      <h6 style="font-weight: bold;">{{product.name}}</h6>
      <div style="padding-left: 15px; font-weight: normal;">
        • {{product.processor}}
        <br>
        • {{product.sdram}}
        <br>
        • {{product.storage}}
        <br>
        • {{product.graphics}}
        <br>
        • {{product.keyboard}}
      </div>
      <h6 style="font-weight: 400;">{{product.price | currency}}</h6>
    </ul>
    <input type="number" ng-model="qty">
    <button type="button" name="button" ng-click="addToCart(orderid, product.id, qty)">Add me to cart</button>
    <br><br><br>
  </div>
</div>
