<div class="account-background">
  <navbar-dir></navbar-dir>

  <div class="account-body wow fadeIn" data-wow-duration="0.5s">
    <div class="account-body-inner-container">
      <div class="account-header">
        <h1>Your Account</h1>
        <h3>Modify an order, track a shipment, and update your account info. <br> All you need in one place. All with a few simple clicks.</h3>
      </div>

      <div class="account-header-shadow">
        <img src="./styles/img/accountHome/section_divider_crease_down.png" />
      </div>

      <div class="account-user-info-container">
        Name: <input type="text" ng-model="user.first_name">
        <input type="text" ng-model="user.last_name">
        <br>
        Email: <input type="text" ng-model="user.email">
        <br>
        Birthday: <input type="text" ng-model="user.birthday | date:'M/d/yyyy'">
        <br>
        <button type="button" ng-click="updateUser(user)">Update</button>
      </div>

      <br><br>

      <button type="button" name="button" ui-sref="order({id: user.id})">View My Bag</button>

      <br><br>

      <button type="button" name="button" ui-sref="">View Past Orders</button>

      <br><br>

      <button type="button" name="button" ui-sref="products({id: user.id, cartid: user.orderid})">Shop All MacBook Options</button>

      <br><br><br>

      <div class="account-logout-container">
        <a ng-click="logout()">logout</a>
      </div>
    </div>
  </div>

  <div class="bag-footer-full">
    <div class="footer-container" style="width: 980px; height: auto; margin: auto;">
      <div class="site-location">
        <svg version="1.1" id="Global_Nav_Small_Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
           x="0px" y="0px" width="21px" height="48px" viewBox="0 0.5 21 48" enable-background="new 0 0.5 21 48" xml:space="preserve">
          <path id="Apple_1_" fill="#666666" d="M19.35,26.896c-0.119,0.34-0.244,0.664-0.377,0.974c-0.324,0.733-0.705,1.409-1.149,2.028
            c-0.604,0.847-1.097,1.432-1.479,1.754c-0.59,0.535-1.223,0.81-1.9,0.824c-0.487,0-1.074-0.137-1.758-0.412
            c-0.686-0.273-1.314-0.412-1.891-0.412c-0.604,0-1.251,0.139-1.943,0.412c-0.694,0.275-1.253,0.42-1.68,0.434
            c-0.65,0.027-1.298-0.253-1.945-0.846c-0.414-0.353-0.929-0.957-1.548-1.817c-0.664-0.915-1.209-1.979-1.636-3.192
            c-0.456-1.309-0.685-2.576-0.685-3.803c0-1.408,0.311-2.621,0.929-3.637c0.487-0.816,1.135-1.461,1.945-1.934
            s1.687-0.713,2.629-0.729c0.517,0,1.193,0.158,2.035,0.467c0.839,0.309,1.376,0.464,1.613,0.464c0.177,0,0.774-0.183,1.789-0.55
            c0.958-0.338,1.769-0.478,2.433-0.422c1.797,0.142,3.146,0.838,4.043,2.093c-1.605,0.959-2.4,2.298-2.387,4.014
            c0.016,1.341,0.51,2.455,1.481,3.339C18.311,26.355,18.803,26.674,19.35,26.896z M14.828,11.518
            c0.015,0.141,0.021,0.279,0.021,0.421c0,1.047-0.389,2.027-1.166,2.936c-0.939,1.078-2.074,1.701-3.307,1.604
            c-0.016-0.126-0.024-0.259-0.024-0.398c0-1.009,0.445-2.085,1.24-2.969c0.396-0.446,0.899-0.816,1.509-1.109
            C13.709,11.707,14.287,11.546,14.828,11.518z"/>
        </svg>
        <div><h6> > </h6></div>
        <div><h6> Account </h6></div>
      </div>

      <div class="directory-5-coloumns">
        <div class="grid">
          <h5>Shop and Learn</h5>
          <a href="">Mac</a>
          <br>
          <a href="">iPad</a>
          <br>
          <a href="">iPhone</a>
          <br>
          <a href="">Watch</a>
          <br>
          <a href="">TV</a>
          <br>
          <a href="">Music</a>
          <br>
          <a href="">iTunes</a>
          <br>
          <a href="">iPod</a>
          <br>
          <a href="">Accessories</a>
          <br>
          <a href="">Gift Cards</a>
        </div>

        <div class="grid">
          <h5>Apple Store</h5>
          <a href="">Find a Store</a>
          <br>
          <a href="">Genius Bar</a>
          <br>
          <a href="">Workshops and Learning</a>
          <br>
          <a href="">Youth Programs</a>
          <br>
          <a href="">Apple Store App</a>
          <br>
          <a href="">Refurbished and Clearance</a>
          <br>
          <a href="">Financing</a>
          <br>
          <a href="">Reuse and Recycling</a>
          <br>
          <a href="">Order Status</a>
          <br>
          <a href="">Shopping Help</a>
        </div>

        <div class="grid">
          <h5>For Education</h5>
          <a href="">Apple and Education</a>
          <br>
          <a href="">Shop for College</a>
          <br>
          <br>
          <h5>For Business</h5>
          <a href="">Apple and Business</a>
          <br>
          <a href="">Shop for Business</a>
        </div>

        <div class="grid">
          <h5>Account</h5>
          <a href="">Manage Your Apple ID</a>
          <br>
          <a href="">Apple Store Account</a>
          <br>
          <a href="">iCloud.com</a>
          <br>
          <br>
          <h5>Apple Values</h5>
          <a href="">Accessibility</a>
          <br>
          <a href="">Education</a>
          <br>
          <a href="">Environment</a>
          <br>
          <a href="">Inclusion and Diversity</a>
          <br>
          <a href="">Privacy</a>
          <br>
          <a href="">Supplier Responsibility</a>
        </div>

        <div class="grid">
          <h5>About Apple</h5>
          <a href="">Apple Info</a>
          <br>
          <a href="">Newsroom</a>
          <br>
          <a href="">Job Opportunities</a>
          <br>
          <a href="">Press Info</a>
          <br>
          <a href="">Investors</a>
          <br>
          <a href="">Events</a>
          <br>
          <a href="">Contact Apple</a>
        </div>
      </div>

      <div class="more-ways-to-shop">
        <h6>More ways to shop: Visit an <a>Apple Store</a>, call 1-800-MY-APPLE, or <a>find a reseller</a>.</h6>
      </div>

      <div class="copyright-row">
        <div class="left">
          <h6>
            Copyright © 2016 Apple Inc. All rights reserved.&nbsp; &nbsp; &nbsp; &nbsp; <a>Privacy Policy</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp; <a>Terms of Use</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp; <a>Sales and Refunds</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp; <a>Legal</a>&nbsp; &nbsp; &nbsp; &nbsp; |&nbsp; &nbsp; &nbsp; &nbsp;
            <a>Site Map</a>
          </h6>
        </div>
        <div class="right">
          <h6>
            <div class="flag-container">
              <img src="../styles/img/footer/32.png" />
            </div>
            United States
          </h6>
        </div>
    </div>
  </div>
</div>
