// COLORS //
$button-lighterblue: #2a85d4;
$button-darkerblue: #0070c9;
$button-activeblue: #3f9fef;
$account-buttonblue: #0085CF;

// FONTS //
$myriad-set-pro: "Myriad Set Pro","Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
$myriad-pro: "Myriad Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";

/* LIGHT */
/*@import url('https://db.onlinewebfonts.com/c/c37920f95595038e0868564341c71133?family=Myriad+Pro');*/
/* REGULAR */
/*@import url('https://db.onlinewebfonts.com/c/a89cf050c859a23e4b6d9cf5989acf9e?family=Myriad+Pro');*/
/* SEMIBOLD */
/*@import url('https://db.onlinewebfonts.com/c/f74ee7cbb191e486e9551cdada1999ed?family=Myriad+Pro+Light');*/

body {
  font-family: $myriad-set-pro;
  font-weight: 200;
  font-style: normal;
}

p {
  font-family: $myriad-pro;
  font-weight: 200;
  font-style: normal;
}

a {
  text-decoration: none;
}

i {
  font-style: italic;
}

li {
  list-style-type: none;
}

.state-loading {
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;
}

.state-loading img {
  width: 150px;
  height: auto;
  margin: auto;
  margin-top: 15vh;
}

.state-loading h1 {
  font-family: $myriad-set-pro;
  font-size: 65px;
  font-weight: normal;
  margin: auto;
  margin-top: -70px;
  text-align: center;
  color: #cccccc;
  padding-left: 30px;
}

.button {
  border-style: hidden;
  background: $button-darkerblue;
  background: -webkit-gradient(linear, left top, left bottom, from($button-lighterblue), to($button-darkerblue));
  background: -webkit-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -moz-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -ms-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -o-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  padding: 5px 12px 5px 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 13px;
  line-height: 20px;
  font-family: $myriad-set-pro;
  text-decoration: none;
  vertical-align: middle;
}
.button:hover {
  border-top-color: $button-lighterblue;
  background: $button-lighterblue;
  color: #ffffff;
  cursor: pointer;
}
.button:active {
  border-top-color: $button-activeblue;
  background: $button-activeblue;
}

.button-medium {
  border-style: hidden;
  background: $button-darkerblue;
  background: -webkit-gradient(linear, left top, left bottom, from($button-lighterblue), to($button-darkerblue));
  background: -webkit-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -moz-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -ms-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -o-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  padding: 10px 25px 10px 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
  line-height: 17px;
  font-family: $myriad-set-pro;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
.button-medium:hover {
  border-top-color: $button-lighterblue;
  background: $button-lighterblue;
  color: #ffffff;
  cursor: pointer;
}
.button-medium:active {
  border-top-color: $button-activeblue;
  background: $button-activeblue;
}

.button-medium-white {
  border: thin solid #cccccc;
  background: rgba(239, 239, 239, .1);
  padding: 10px 25px 10px 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: $button-lighterblue;
  font-size: 15px;
  line-height: 17px;
  font-family: $myriad-set-pro;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
.button-medium-white:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
  background: -webkit-linear-gradient(top, #ffffff, #efefef);
  background: -moz-linear-gradient(top, #ffffff, #efefef);
  background: -ms-linear-gradient(top, #ffffff, #efefef);
  background: -o-linear-gradient(top, #ffffff, #efefef);
  color: $button-lighterblue;
  cursor: pointer;
}
.button-medium-white:active {
  border-top-color: #efefef;
  background: #efefef;
}

.button-large {
  border-style: hidden;
  background: $button-darkerblue;
  background: -webkit-gradient(linear, left top, left bottom, from($button-lighterblue), to($button-darkerblue));
  background: -webkit-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -moz-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -ms-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  background: -o-linear-gradient(top, $button-lighterblue, $button-darkerblue);
  padding: 7px 25px 7px 25px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  line-height: 35px;
  font-family: $myriad-set-pro;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}
.button-large:hover {
  border-top-color: $button-lighterblue;
  background: $button-lighterblue;
  color: #ffffff;
  cursor: pointer;
}
.button-large:active {
  border-top-color: $button-activeblue;
  background: $button-activeblue;
}
