<div class="wow fadeIn" data-wow-duration="0.5s">
  <navbar-dir></navbar-dir>

  <div class="full-state-navbar">
    <div class="full-state-navbar-top" style="border-bottom: thin solid #eaeaea; background: #fff;">
      <div class="state-navbar">
        <h2 ui-sref="macbook" class="state-navbar-left">Apple ID</h2>
        <div class="state-navbar-right">
          <ul>
            <a ui-sref="signin">Sign in</a>
            <a style="color: #cccccc;">Create Your Apple ID</a>
            <a ui-sref="faq">FAQ</a>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="create-acc-body">
    <div class="create-acc-title-img">
      <div class="create-acc-title">
        <h1>Create Your Apple ID</h1>
      </div>
    </div>
    <div class="form-container">
      <h4>One Apple ID is all you need to access all Apple services.</h4>
      <h4>Already have an Apple ID? <a>Find it here ></a></h4>
      <form ng-submit="register(newUser)">
        <input class="create-acc-input-long" type="email" ng-model="newUser.email" required placeholder="name@example.com" style="margin-top: 25px;" />
        <input class="create-acc-input-long" type="password" ng-model="newUser.password" required placeholder="password" style="margin-top: 25px;" />
        <!-- <input class="create-acc-input-long" type="text" placeholder="confirm password" /> -->
        <input class="create-acc-input-short" type="text" ng-model="newUser.first_name" required placeholder="first name" style="margin-top: 25px;" />
        <input class="create-acc-input-short" type="text" ng-model="newUser.last_name" required placeholder="last name" />
        <input class="create-acc-input-long" type="date" ng-model="newUser.birthday" required placeholder="birthday" />

        <!-- <div style="width: 460px; height: 1px; background: #ccc; margin-top: 30px; margin-bottom: 30px;"></div>

        <select class="create-acc-select-long">
          <option selected disabled hidden>Security Question 1</option>
          <option value="">What is your favorite children's book?</option>
          <option value="">What is your dream job?</option>
          <option value="">What was your childhood nickname?</option>
          <option value="">What was the model of your first car?</option>
          <option value="">Who was your favorite singer or band in high school?</option>
          <option value="">Who was your favorite film star or character in school?</option>
        </select>
        <input class="create-acc-input-long" type="text" placeholder="answer" />

        <select class="create-acc-select-long">
          <option selected disabled hidden>Security Question 2</option>
          <option value="">What was the first name of your first boss?</option>
          <option value="">In what city did your parents meet?</option>
          <option value="">What was the name of your first pet?</option>
          <option value="">What is the first name of your best friend in high school?</option>
          <option value="">What was the first film you saw in the theater?</option>
          <option value="">What was the first thing you learned to cook?</option>
        </select>
        <input class="create-acc-input-long" type="text" placeholder="answer" />

        <select class="create-acc-select-long">
          <option selected disabled hidden>Security Question 3</option>
          <option value="">What is the last name of your favorite elementary school teacher?</option>
          <option value="">Where did you go the first time you flew on a plane?</option>
          <option value="">What is the name of the street where you grew up?</option>
          <option value="">What is the name of the first beach you visited?</option>
          <option value="">What was the first album that you purchased?</option>
          <option value="">What is the name of your favorite sports team?</option>
        </select>
        <input class="create-acc-input-long" type="text" placeholder="answer" />

        <p style="padding-top: 15px;">These questions will be used to verify your identity and recover your password if you ever forget it.</p> -->

        <div style="width: 460px; height: 1px; background: #ccc; margin-top: 30px; margin-bottom: 30px;"></div>

        <select class="create-acc-select-long" type="text" ng-model="newUser.country" ng-init="newUser.country='USA'" style="margin-bottom: 30px;">
        	<option value="AFG">Afghanistan</option>
        	<option value="ALA">Åland Islands</option>
        	<option value="ALB">Albania</option>
        	<option value="DZA">Algeria</option>
        	<option value="ASM">American Samoa</option>
        	<option value="AND">Andorra</option>
        	<option value="AGO">Angola</option>
        	<option value="AIA">Anguilla</option>
        	<option value="ATA">Antarctica</option>
        	<option value="ATG">Antigua and Barbuda</option>
        	<option value="ARG">Argentina</option>
        	<option value="ARM">Armenia</option>
        	<option value="ABW">Aruba</option>
        	<option value="AUS">Australia</option>
        	<option value="AUT">Austria</option>
        	<option value="AZE">Azerbaijan</option>
        	<option value="BHS">Bahamas</option>
        	<option value="BHR">Bahrain</option>
        	<option value="BGD">Bangladesh</option>
        	<option value="BRB">Barbados</option>
        	<option value="BLR">Belarus</option>
        	<option value="BEL">Belgium</option>
        	<option value="BLZ">Belize</option>
        	<option value="BEN">Benin</option>
        	<option value="BMU">Bermuda</option>
        	<option value="BTN">Bhutan</option>
        	<option value="BOL">Bolivia, Plurinational State of</option>
        	<option value="BES">Bonaire, Sint Eustatius and Saba</option>
        	<option value="BIH">Bosnia and Herzegovina</option>
        	<option value="BWA">Botswana</option>
        	<option value="BVT">Bouvet Island</option>
        	<option value="BRA">Brazil</option>
        	<option value="IOT">British Indian Ocean Territory</option>
        	<option value="BRN">Brunei Darussalam</option>
        	<option value="BGR">Bulgaria</option>
        	<option value="BFA">Burkina Faso</option>
        	<option value="BDI">Burundi</option>
        	<option value="KHM">Cambodia</option>
        	<option value="CMR">Cameroon</option>
        	<option value="CAN">Canada</option>
        	<option value="CPV">Cape Verde</option>
        	<option value="CYM">Cayman Islands</option>
        	<option value="CAF">Central African Republic</option>
        	<option value="TCD">Chad</option>
        	<option value="CHL">Chile</option>
        	<option value="CHN">China</option>
        	<option value="CXR">Christmas Island</option>
        	<option value="CCK">Cocos (Keeling) Islands</option>
        	<option value="COL">Colombia</option>
        	<option value="COM">Comoros</option>
        	<option value="COG">Congo</option>
        	<option value="COD">Congo, the Democratic Republic of the</option>
        	<option value="COK">Cook Islands</option>
        	<option value="CRI">Costa Rica</option>
        	<option value="CIV">Côte d'Ivoire</option>
        	<option value="HRV">Croatia</option>
        	<option value="CUB">Cuba</option>
        	<option value="CUW">Curaçao</option>
        	<option value="CYP">Cyprus</option>
        	<option value="CZE">Czech Republic</option>
        	<option value="DNK">Denmark</option>
        	<option value="DJI">Djibouti</option>
        	<option value="DMA">Dominica</option>
        	<option value="DOM">Dominican Republic</option>
        	<option value="ECU">Ecuador</option>
        	<option value="EGY">Egypt</option>
        	<option value="SLV">El Salvador</option>
        	<option value="GNQ">Equatorial Guinea</option>
        	<option value="ERI">Eritrea</option>
        	<option value="EST">Estonia</option>
        	<option value="ETH">Ethiopia</option>
        	<option value="FLK">Falkland Islands (Malvinas)</option>
        	<option value="FRO">Faroe Islands</option>
        	<option value="FJI">Fiji</option>
        	<option value="FIN">Finland</option>
        	<option value="FRA">France</option>
        	<option value="GUF">French Guiana</option>
        	<option value="PYF">French Polynesia</option>
        	<option value="ATF">French Southern Territories</option>
        	<option value="GAB">Gabon</option>
        	<option value="GMB">Gambia</option>
        	<option value="GEO">Georgia</option>
        	<option value="DEU">Germany</option>
        	<option value="GHA">Ghana</option>
        	<option value="GIB">Gibraltar</option>
        	<option value="GRC">Greece</option>
        	<option value="GRL">Greenland</option>
        	<option value="GRD">Grenada</option>
        	<option value="GLP">Guadeloupe</option>
        	<option value="GUM">Guam</option>
        	<option value="GTM">Guatemala</option>
        	<option value="GGY">Guernsey</option>
        	<option value="GIN">Guinea</option>
        	<option value="GNB">Guinea-Bissau</option>
        	<option value="GUY">Guyana</option>
        	<option value="HTI">Haiti</option>
        	<option value="HMD">Heard Island and McDonald Islands</option>
        	<option value="VAT">Holy See (Vatican City State)</option>
        	<option value="HND">Honduras</option>
        	<option value="HKG">Hong Kong</option>
        	<option value="HUN">Hungary</option>
        	<option value="ISL">Iceland</option>
        	<option value="IND">India</option>
        	<option value="IDN">Indonesia</option>
        	<option value="IRN">Iran, Islamic Republic of</option>
        	<option value="IRQ">Iraq</option>
        	<option value="IRL">Ireland</option>
        	<option value="IMN">Isle of Man</option>
        	<option value="ISR">Israel</option>
        	<option value="ITA">Italy</option>
        	<option value="JAM">Jamaica</option>
        	<option value="JPN">Japan</option>
        	<option value="JEY">Jersey</option>
        	<option value="JOR">Jordan</option>
        	<option value="KAZ">Kazakhstan</option>
        	<option value="KEN">Kenya</option>
        	<option value="KIR">Kiribati</option>
        	<option value="PRK">Korea, Democratic People's Republic of</option>
        	<option value="KOR">Korea, Republic of</option>
        	<option value="KWT">Kuwait</option>
        	<option value="KGZ">Kyrgyzstan</option>
        	<option value="LAO">Lao People's Democratic Republic</option>
        	<option value="LVA">Latvia</option>
        	<option value="LBN">Lebanon</option>
        	<option value="LSO">Lesotho</option>
        	<option value="LBR">Liberia</option>
        	<option value="LBY">Libya</option>
        	<option value="LIE">Liechtenstein</option>
        	<option value="LTU">Lithuania</option>
        	<option value="LUX">Luxembourg</option>
        	<option value="MAC">Macao</option>
        	<option value="MKD">Macedonia, the former Yugoslav Republic of</option>
        	<option value="MDG">Madagascar</option>
        	<option value="MWI">Malawi</option>
        	<option value="MYS">Malaysia</option>
        	<option value="MDV">Maldives</option>
        	<option value="MLI">Mali</option>
        	<option value="MLT">Malta</option>
        	<option value="MHL">Marshall Islands</option>
        	<option value="MTQ">Martinique</option>
        	<option value="MRT">Mauritania</option>
        	<option value="MUS">Mauritius</option>
        	<option value="MYT">Mayotte</option>
        	<option value="MEX">Mexico</option>
        	<option value="FSM">Micronesia, Federated States of</option>
        	<option value="MDA">Moldova, Republic of</option>
        	<option value="MCO">Monaco</option>
        	<option value="MNG">Mongolia</option>
        	<option value="MNE">Montenegro</option>
        	<option value="MSR">Montserrat</option>
        	<option value="MAR">Morocco</option>
        	<option value="MOZ">Mozambique</option>
        	<option value="MMR">Myanmar</option>
        	<option value="NAM">Namibia</option>
        	<option value="NRU">Nauru</option>
        	<option value="NPL">Nepal</option>
        	<option value="NLD">Netherlands</option>
        	<option value="NCL">New Caledonia</option>
        	<option value="NZL">New Zealand</option>
        	<option value="NIC">Nicaragua</option>
        	<option value="NER">Niger</option>
        	<option value="NGA">Nigeria</option>
        	<option value="NIU">Niue</option>
        	<option value="NFK">Norfolk Island</option>
        	<option value="MNP">Northern Mariana Islands</option>
        	<option value="NOR">Norway</option>
        	<option value="OMN">Oman</option>
        	<option value="PAK">Pakistan</option>
        	<option value="PLW">Palau</option>
        	<option value="PSE">Palestinian Territory, Occupied</option>
        	<option value="PAN">Panama</option>
        	<option value="PNG">Papua New Guinea</option>
        	<option value="PRY">Paraguay</option>
        	<option value="PER">Peru</option>
        	<option value="PHL">Philippines</option>
        	<option value="PCN">Pitcairn</option>
        	<option value="POL">Poland</option>
        	<option value="PRT">Portugal</option>
        	<option value="PRI">Puerto Rico</option>
        	<option value="QAT">Qatar</option>
        	<option value="REU">Réunion</option>
        	<option value="ROU">Romania</option>
        	<option value="RUS">Russian Federation</option>
        	<option value="RWA">Rwanda</option>
        	<option value="BLM">Saint Barthélemy</option>
        	<option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
        	<option value="KNA">Saint Kitts and Nevis</option>
        	<option value="LCA">Saint Lucia</option>
        	<option value="MAF">Saint Martin (French part)</option>
        	<option value="SPM">Saint Pierre and Miquelon</option>
        	<option value="VCT">Saint Vincent and the Grenadines</option>
        	<option value="WSM">Samoa</option>
        	<option value="SMR">San Marino</option>
        	<option value="STP">Sao Tome and Principe</option>
        	<option value="SAU">Saudi Arabia</option>
        	<option value="SEN">Senegal</option>
        	<option value="SRB">Serbia</option>
        	<option value="SYC">Seychelles</option>
        	<option value="SLE">Sierra Leone</option>
        	<option value="SGP">Singapore</option>
        	<option value="SXM">Sint Maarten (Dutch part)</option>
        	<option value="SVK">Slovakia</option>
        	<option value="SVN">Slovenia</option>
        	<option value="SLB">Solomon Islands</option>
        	<option value="SOM">Somalia</option>
        	<option value="ZAF">South Africa</option>
        	<option value="SGS">South Georgia and the South Sandwich Islands</option>
        	<option value="SSD">South Sudan</option>
        	<option value="ESP">Spain</option>
        	<option value="LKA">Sri Lanka</option>
        	<option value="SDN">Sudan</option>
        	<option value="SUR">Suriname</option>
        	<option value="SJM">Svalbard and Jan Mayen</option>
        	<option value="SWZ">Swaziland</option>
        	<option value="SWE">Sweden</option>
        	<option value="CHE">Switzerland</option>
        	<option value="SYR">Syrian Arab Republic</option>
        	<option value="TWN">Taiwan, Province of China</option>
        	<option value="TJK">Tajikistan</option>
        	<option value="TZA">Tanzania, United Republic of</option>
        	<option value="THA">Thailand</option>
        	<option value="TLS">Timor-Leste</option>
        	<option value="TGO">Togo</option>
        	<option value="TKL">Tokelau</option>
        	<option value="TON">Tonga</option>
        	<option value="TTO">Trinidad and Tobago</option>
        	<option value="TUN">Tunisia</option>
        	<option value="TUR">Turkey</option>
        	<option value="TKM">Turkmenistan</option>
        	<option value="TCA">Turks and Caicos Islands</option>
        	<option value="TUV">Tuvalu</option>
        	<option value="UGA">Uganda</option>
        	<option value="UKR">Ukraine</option>
        	<option value="ARE">United Arab Emirates</option>
        	<option value="GBR">United Kingdom</option>
          <option value="USA">United States</option>
        	<option value="UMI">United States Minor Outlying Islands</option>
        	<option value="URY">Uruguay</option>
        	<option value="UZB">Uzbekistan</option>
        	<option value="VUT">Vanuatu</option>
        	<option value="VEN">Venezuela, Bolivarian Republic of</option>
        	<option value="VNM">Viet Nam</option>
        	<option value="VGB">Virgin Islands, British</option>
        	<option value="VIR">Virgin Islands, U.S.</option>
        	<option value="WLF">Wallis and Futuna</option>
        	<option value="ESH">Western Sahara</option>
        	<option value="YEM">Yemen</option>
        	<option value="ZMB">Zambia</option>
        	<option value="ZWE">Zimbabwe</option>
        </select>

        <div class="create-acc-checkboxes">
          <input type="checkbox" ng-model="newUser.announcements" ng-init="newUser.announcements=true" />Announcements
          <p>Get announcements, recommendations, and updates about Apple products, services, software updates, and more.</p>
          <input type="checkbox" ng-model="newUser.media" ng-init="newUser.media=true" />Apple Music, iTunes, iBooks, and App Store Offers
          <p>Get recommendations, the latest releases, special offers, and exclusive content for music, apps, movies, TV, books, podcasts and more.</p>
          <input type="checkbox" ng-model="newUser.news" ng-init="newUser.news=true" />Apple News Updates
          <p>Get the best stories and recommendations from Apple News delivered directly to your inbox.</p>
        </div>

        <div style="width: 460px; height: 1px; background: #ccc; margin-top: 30px; margin-bottom: 30px;"></div>

        <p>Apple is committed to protecting your privacy. <a ui-sref="privacy">Learn more…</a></p>
        <br>
        <button type="submit">Register</button>
      </form>

    </div>

    <div class="create-acc-footer-full">
      <div class="signin-footer">
        <div class="copyright-row" style="padding-top: 25px; padding-bottom: 30px; border-top: none;">
          <div class="left">
            <h6>More ways to shop: Visit an <a>Apple Store</a>, call 1-800-MY-APPLE, or <a>find a reseller</a>.</h6>
          </div>
        </div>
        <div class="copyright-row" style="border-top: none; padding-top: 0px; padding-bottom: 30px;">
          <div class="left">
            <h6>
              Copyright © 2016 Apple Inc. All rights reserved.&nbsp&nbsp&nbsp&nbsp <a>Privacy Policy</a>&nbsp&nbsp&nbsp&nbsp |&nbsp&nbsp&nbsp&nbsp <a>Terms of Use</a>&nbsp&nbsp&nbsp&nbsp |&nbsp&nbsp&nbsp&nbsp <a>Sales and Refunds</a>&nbsp&nbsp&nbsp&nbsp |&nbsp&nbsp&nbsp&nbsp <a>Legal</a>&nbsp&nbsp&nbsp&nbsp |&nbsp&nbsp&nbsp&nbsp <a>Site Map</a>
            </h6>
          </div>
          <div class="right">
            <h6>
              <div class="flag-container">
                <img src="../styles/img/flags/USAflag.png" />
              </div>
              United States
            </h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
